<{include file="admin:common/header.html"}>
<div class="page-title">
	<table width="100%" align="center" cellpadding="0" cellspacing="0" >
		<tr>
			<td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
			<th><{$MOD.title}></th>
			<td align="right"><{link ctl="order/product:create" class="button" title="添加"}>
<{link ctl="order/product:so" load="mini:搜索内容" width="mini:500" class="button" title="搜索"}></td>
			<td width="15"></td>
		</tr>
	</table>
</div>
<div class="page-data">	
	<form id="items-form">
    <table width="100%" border="0" cellspacing="0" class="table-data table">
    <tr><th class="w-100">ID</th>
<th class="w-50">订单ID</th>
<th class="w-50">商品ID</th>
<th>商品名称</th>
<th class="w-50">商品单价</th>
<th class="w-50">打包费</th>
<th class="w-50">商品数量</th>
<th class="w-50">总价</th>
<th class="w-150">操作</th>
</tr>
    <{foreach $items as $item}>
    <tr>
<td><label><input type="checkbox" value="<{$item.pid}>" name="pid[]" CK="PRI"/><{$item.pid}><label></td>
<td><{$item.order_id}></td>
<td><{$item.product_id}></td>
<td><{$item.product_name}></td>
<td><{$item.product_price}></td>
<td><{$item.package_price}></td>
<td><{$item.product_number}></td>
<td><{$item.amount}></td>
<td><{link ctl="order/product:detail" args=$item.pid class="button" title="查看"}><{link ctl="order/product:edit" args=$item.pid title="修改" class="button"}><{link ctl="order/product:delete" args=$item.pid act="mini:删除" confirm="mini:确定要删除吗？" title="删除" class="button"}></td>
</tr>
    <{foreachelse}>
     <tr><td colspan="20"><p class="text-align tip-notice">没有数据</p></td></tr>
    <{/foreach}>
    </table>
	</form>
	<div class="page-bar">
		<table>
			<tr>
			<td class="w-100"><label><input type="checkbox" CKA="PRI"/>&nbsp;&nbsp;全选</label></td>
			<td colspan="10" class="left"><{link ctl="order/product:delete" type="button" submit="mini:#items-form" confirm="mini:确定要批量删除选中的内容吗?" priv="hide" value="批量删除"}>
<{link ctl="order/product:doaudit" type="button" submit="mini:#items-form" confirm="mini:确定要批量审核选中的内容吗?" priv="hide" value="批量审核"}></td>
			<td class="page-list"><{$pager.pagebar}></td>
		</tr>
		</table>
	</div>
</div>
<{include file="admin:common/footer.html"}>