<{include file="admin:common/header.html"}>
<div class="page-title">
	<table width="100%" align="center" cellpadding="0" cellspacing="0" >
		<tr>
			<td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
			<th><{$MOD.title}></th>
			<td align="right">
                <{link ctl="staff/msg:create" class="button" title="添加"}>
                <{link ctl="staff/msg:so" load="mini:搜索内容" width="mini:400" class="button" title="搜索"}>
            </td>
			<td width="15"></td>
		</tr>
	</table>
</div>
<div class="page-data">	
	<form id="items-form">
    <table width="100%" border="0" cellspacing="0" class="table-data table">
    <tr>
        <th class="w-100">消息ID</th>
        <th>配送员</th>
        <th>标题</th>
        <th>内容</th>
        <th class="w-50">阅读</th>
        <th class="w-150">时间</th>
        <th class="w-150">操作</th>
    </tr>
    <{foreach $items as $item}>
    <tr>
        <td><label><input type="checkbox" value="<{$item.msg_id}>" name="msg_id[]" CK="PRI"/><{$item.msg_id}><label></td>
        <td><{$staff_list[$item.staff_id].name}>(<{$staff_list[$item.staff_id].mobile}>)</td>
        <td><{$item.title}></td>
        <td><{$item.content}></td>
        <td><{if $item.is_read}><b>已阅读</b><{else}><b class="blue">未阅读</b><{/if}></td>
        <td><{$item.dateline|format}><br /><{$item.clientip}>(<{$item.clientip|iplocal}>)</td>
        <td>
            <{link ctl="staff/msg:detail" args=$item.msg_id class="button" title="查看"}>
            <{link ctl="staff/msg:edit" args=$item.msg_id title="修改" class="button"}>
            <{link ctl="staff/msg:delete" args=$item.msg_id act="mini:删除" confirm="mini:确定要删除吗？" title="删除" class="button"}>
        </td>
    </tr>
    <{foreachelse}>
     <tr><td colspan="20"><p class="text-align tip-notice">没有数据</p></td></tr>
    <{/foreach}>
    </table>
	</form>
	<div class="page-bar">
		<table>
			<tr>
			<td class="w-100"><label><input type="checkbox" CKA="PRI"/>&nbsp;&nbsp;全选</label></td>
			<td colspan="10" class="left"><{link ctl="staff/msg:delete" type="button" submit="mini:#items-form" confirm="mini:确定要批量删除选中的内容吗?" priv="hide" value="批量删除"}></td>
			<td class="page-list"><{$pager.pagebar}></td>
		</tr>
		</table>
	</div>
</div>
<{include file="admin:common/footer.html"}>