<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="paotui/paotui:index" priv="hidden" class="button"}></td>
        <td width="15"></td>

      </tr>
    </table>
</div>
<div class="page-data">
    <table width="100%" border="0" cellspacing="0" class="table-data form">
        <tr><th>订单ID：</th><td class="w-300"><{$detail.paotui_id}></td><th>用户UID：</th><td><{$detail.uid}></td></tr>
        <tr><th>收件人：</th><td><{$detail.contact}></td><th>配送员：</th><td><{$detail.o_contact}></td></tr>
        <tr><th>收件人地址：</th><td><{$detail.addr}></td></th><th>购买地址：</th><td><{$detail.o_addr}></td></tr>
        <tr><th>收件人门牌号：</th><td><{$detail.house}></td><th>购买门牌号：</th><td><{$detail.o_house}></td></tr>
        <tr><th>收件人电话：</th><td><{$detail.mobile}></td><th>配送员电话：</th><td><{$detail.o_mobile}></td></tr>
        <tr><th>收件时间：</th><td><{$detail.time|format:'Y-m-d H:i:s'}></td><th>取件时间：</th><td><{$detail.o_time|format:'Y-m-d H:i:s'}></td></tr>
        <tr><th>收件人经纬度：</th><td>经度：<{$detail.lng}>&nbsp;纬度：<{$detail.lat}></td><th>取件人经纬度：</th><td>经度：<{$detail.o_lng}>&nbsp;纬度：<{$detail.o_lat}></td></tr> 
        <tr><th>物品描述：</th><td><{$detail.intro}></td><th>跑腿费用：</th><td><{$detail.paotui_amount}></td></tr>
        <tr><th>图片：</th><td><{$detail.photo}></td><th>担保托管金额：</th><td><{$detail.danbao_amount}></td></tr>
        <tr><th>语音：</th><td><{$detail.voice}></td><th>支付金额：</th><td><{$detail.jiesuan_amount}></td></tr>
        <tr><th>类型：</th><td>
        <{if $detail.type=='buy'}><b class="blue">帮我买<b><{/if}>
        <{if $detail.type=='song'}><b class="blue">帮我买<b><{/if}>
        <{if $detail.type=='paotui'}><b class="blue">跑腿<b><{/if}>
        </td><th>支付状态：</th><td>
        <{if $detail.pay_status==0}><b class="red">未支付<b><{/if}>
        <{if $detail.pay_status==1}><b class="green">已支付<b><{/if}>
        </td></tr>
        <tr><th>订单状态：</th><td>
        <{if $detail.order_status==0}>未处理<{/if}>
        <{if $detail.order_status==1}>已接单<{/if}>
        </td><th>支付时间：</th><td><{$detail.pay_time|format:'Y-m-d H:i:s'}></td></tr>
        <tr><th>下单时间：</th><td><{$detail.dateline|format:'Y-m-d H:i:s'}></td><th>支付类型：</th><td>
        <{if $detail.pay_code=='money'}>余额支付<{/if}>
        <{if $detail.pay_code=='wxpay'}>微信支付<{/if}>
        <{if $detail.pay_code=='alipay'}>支付宝支付<{/if}>
        </td></tr>

        <tr><td colspan="10" class="h-10"></td></tr>
    </table>    
                                                                                                                                        
    <{if $detail.logs}>
    <table width="100%" border="0" cellspacing="0" class="table-data table">
	    <tr>
	        <th class="w-100">日志编号</th>
	        <th class="w-50">操作人员</th>
	        <th class="w-150">明细</th>
	        <th class="w-100">时间</th>
	    </tr>
	    <{foreach $detail.logs as $var}>
	    <tr >
	        <td><{$var.log_id}></td>
	        <td><{if $var.from=='member'}>用户<{elseif $var.from=='shop'}>商家<{elseif $var.from=='staff'}>配送员<{else}>管理人员<{/if}>(<{$detail['types'][$var['type']]}>)</td>
	        <td><{$var.log}></td>
	        <td><{$var.dateline|format}></td>
	    </tr>
    <{/foreach}>
    <{/if}>
    </table> 
    <table width="100%" border="0" cellspacing="0" class="table-data table">
		<tr>
		    <th class="w-20">管理员操作</th>
		    <th class="w-200">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		    <th class="w-1400">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		</tr>
		<tr>
		    <{if $detail.order_status==0 && $detail.pay_status==1}>
		        <td><{link ctl="paotui/paotui:cancel" args=$detail.order_id act="mini:取消订单" confirm="mini:确定要取消订单吗" title="取消订单" class="button"}></td>
		        <td class="w-200">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		    <{/if}>
		    <td class="w-1400">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		</tr>   
    </table>
                      
</div>

<{include file="admin:common/footer.html"}>