<{include file="admin:common/header.html"}>
<script type="text/javascript" src="<{$pager.res}>/script/widget.bmap.js"></script>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
        <tr>
            <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
            <th><{$MOD.title}></th>
            <td align="right"><{link ctl="shop/shop:index" priv="hidden" class="button"}></td>
            <td width="15"></td>
        </tr>
    </table>
</div>
<div class="page-data"><form action="?shop/shop-create.html" mini-form="shop-form" method="post" ENCTYPE="multipart/form-data">
    <table width="100%" border="0" cellspacing="0" class="table-data form">
        <tr>
            <th><span class="red">*</span>商家名称：</th>
            <td><input type="text" name="data[title]" value="<{$detail.title|default:''}>" class="input w-300"/></td>
        </tr>
        <tr>
            <th><span class="red">*</span>城市：</th>
            <td>
                <select name="data[city_id]" class="w-200"><{widget id="data/city" value=$detail.city_id}></select>
            </td>
        </tr>
        <tr>
            <th><span class="red">*</span>分类：</th>
            <td>
                <select name="data[cate_id]" class="w-200">
                    <{widget id="shop/cate" value=$detail.cate_id type="option"}>
                </select>
            </td>
        </tr>
        <tr><th><span class="red">*</span>手机号：</th><td><input type="text" name="data[mobile]" value="<{$detail.mobile|default:''}>" class="input w-200"/><span class="tip-comment">手机号，登录用</span></td></tr>
        <tr><th><span class="red">*</span>密码：</th><td><input type="password" name="data[passwd]" value="<{$detail.passwd|default:''}>" class="input w-200"/></td></tr>
        <tr><th><span class="red">*</span>客服电话：</th><td><input type="text" name="data[phone]" value="<{$detail.phone|default:''}>" class="input w-200"/><span class="tip-comment">客服电话</span></td></tr>
        <tr><th><span class="red">*</span>logo：</th><td><input type="text" name="data[logo]" value="<{$detail.logo}>" <{if $detail.logo}>photo="<{$pager.img}>/<{$detail.logo}>"<{/if}> class="input w-300" />&nbsp;&nbsp;&nbsp;<input type="file" name="data[logo]" class="input w-100" /></td></tr>
        <tr><th><span class="red">*</span>坐标：</th>
            <td>
                <label>经度:<input type="text" name="data[lng]" value="<{$detail.lng}>" id="Bmap_marker_lng" class="input w-100"/></label>
                <label>纬度:<input type="text" name="data[lat]" value="<{$detail.lat}>" id="Bmap_marker_lat" class="input w-100"/></label>    
                <span class="tip-comment">使用百度地图经纬度<a map-marker="#Bmap_marker_lng,#Bmap_marker_lat" class="button"><b>拾取工具</b></a></span>
            </td>
        </tr>
        <tr><th>地址：</th><td><input type="text" name="data[addr]" value="<{$detail.addr|default:''}>" class="input w-500"/></td></tr>
        <tr><th>首单优惠：</th><td><input type="text" name="data[first_amount]" value="<{$detail.first_amount|default:'0.00'}>" class="input w-100"/><span class="tip-comment">首单优惠</span></td></tr>
        <tr><th>起送价：</th><td><input type="text" name="data[min_amount]" value="<{$detail.min_amount|default:'0.00'}>" class="input w-100"/><span class="tip-comment">起送</span></td></tr>
        <tr><th>开始营业时间：</th><td><input type="text" name="data[yy_stime]" value="<{$detail.yy_stime|default:'00:00:00'}>" class="input w-200"/><span class="tip-comment">开始营业时间</span></td></tr>
        <tr><th>打烊时间：</th><td><input type="text" name="data[yy_ltime]" value="<{$detail.yy_ltime|default:'00:00:00'}>" class="input w-200"/><span class="tip-comment">打烊时间</span></td></tr>
        <tr><th><span class="red">*</span>提现比例：</th>
            <td>
                <input type="text" name="data[tixian_percent]" value="<{if $detail.tixian_percent==0}>100<{else}><{$detail.tixian_percent}><{/if}>" class="input w-50"/>%
                <span class="tip-comment">填写0~100之间的数字(例如:填写95则表示提现100元实际得到100X95%=95元)</span>
            </td>
        </tr>
        <tr>
            <th><span class="red">*</span>在线支付：</th>
            <td>
                <label><input type="radio" name="data[online_pay]" value="1" <{if $detail['online_pay'] == 1}>checked="checked"<{/if}> class="input"/>支持</label><label><input type="radio" name="data[online_pay]" value="0" <{if $detail['online_pay'] == 0}>checked="checked"<{/if}> class="input"/>不支持</label>
            </td>
        </tr>        
        <tr>
            <th>审核：</th>
            <td>
                <label><input type="radio" name="data[audit]" value="1" <{if $detail['audit'] == 1}>checked="checked"<{/if}> class="input"/>通过</label><label><input type="radio" name="data[audit]" value="0" <{if $detail['audit'] == 0}>checked="checked"<{/if}> class="input"/>待审</label>
            </td>
        </tr>
        <tr><th>优惠公告：</th><td><textarea name="data[info]" class="textarea"><{$detail.info}></textarea><br /></td></tr>
        <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
    </table>
</form>
</div>

<{include file="admin:common/footer.html"}>