<{include file="admin:common/header.html"}>
<div class="page-title">
	<table width="100%" align="center" cellpadding="0" cellspacing="0" >
		<tr>
			<td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
			<th><{$MOD.title}></th>
			<td align="right"><{* link ctl="staff/tixian:so" load="mini:搜索内容" width="mini:500" class="button" title="搜索" *}></td>
			<td width="15"></td>
		</tr>
	</table>
</div>
<div class="page-data">	
	<form id="items-form">
    <table width="100%" border="0" cellspacing="0" class="table-data table">
    <tr><th class="w-100">ID</th>
<th class="w-50">服务人员</th>
<th class="w-50">提现金额</th>
<th class="w-50">结算金额</th>
<th>提现帐号</th>
<th class="w-50">状态</th>
<th>拒绝原因</th>
<th class="w-100">更新时间</th>
<th class="w-100">申请时间</th>
<th class="w-150">操作</th>
</tr>
<{foreach $items as $item}>
<tr>
<td><label><input type="checkbox" value="<{$item.tixian_id}>" name="tixian_id[]" CK="PRI"/><{$item.tixian_id}><label></td>
<td><{$staff_list[$item.staff_id].name}>(ID:<{$item.staff_id}>)</td>
<td><{$item.money}></td>
<td><{$item.end_money}></td>
<td><{$item.account_info}></td>
<td><{if $item.status==2}><b class="red">拒绝</b><{elseif $item.status==1}><b class="green">通过</b><{else}><b class="blue">待审</b><{/if}></td>
<td><{$item.reason}></td>
<td><{$item.updatetime}></td>
<td><{$item.dateline|format}><br /><{$item.clientip}>(<{$item.clientip|iplocal}>)</td>
<td>
    <{link ctl="staff/tixian:detail" args=$item.tixian_id title="处理" load="mini:提现处理" width="mini:500" class="button"}>
</td>
</tr>
    <{foreachelse}>
     <tr><td colspan="20"><p class="text-align tip-notice">没有数据</p></td></tr>
    <{/foreach}>
    </table>
	</form>
	<div class="page-bar">
		<table>
			<tr>
			<td class="w-100"><label><input type="checkbox" CKA="PRI"/>&nbsp;&nbsp;全选</label></td>
			<td colspan="10" class="left"></td>
			<td class="page-list"><{$pager.pagebar}></td>
		</tr>
		</table>
	</div>
</div>
<{include file="admin:common/footer.html"}>