.cart_pro_all li{float:left;}
.cart_pro_all .ordenabotL{
    background: url("../images/ic_sub_sel.png") no-repeat center;
    background-size: 0.45rem 0.45rem;
}
.cart_pro_all .ordenabotR{
    background: url("../images/ic_add.png") no-repeat center;
    background-size: 0.5rem 0.5rem;
}
.cart_pro_all .ordisordR li i {
    display: block;
    float: left;
    width: 0.8rem;
    height: 0.8rem;
    background-repeat: no-repeat;
}
.cart_pro_all .ordisordR li input {
    display: inline-block;
    vertical-align: top;
    width: 0.5rem;
    height: 0.8rem;
    text-align: center;
    color: #666;
    font-size: 0.28rem;
    line-height: 0.8rem;
    background: #f5f5f5;
}
.cart_pro_all {
    float: right;
    margin-top: 0.1rem;
}

.shop_group #noPro {
  padding-top: 4rem;
  font-size: 0.26rem;
  color: #999;
  text-align: center;
  line-height: 0.41rem;
  background: url("../images/noPro.png") no-repeat center 1.8rem;
  background-size: 2rem 2rem;
}
.order_group #noPro {
  padding-top: 4rem;
  font-size: 0.26rem;
  color: #999;
  text-align: center;
  line-height: 0.41rem;
  background: url("../images/noPro.png") no-repeat center 1.8rem;
  background-size: 2rem 2rem;
}
.shop_map ul li .map_update {
  width: 0.7rem ;
  height: 100%;
  position: absolute;
  right: 0.7rem;
  top: 0;
  background: url("../images/ic_address_update.png") no-repeat right center / 0.6rem auto;
  z-index: 3
}
.shop_map ul li .map_update a{display: block;width: 100%;height: 100%;}

.main_header{padding-bottom: 0 !important}

.shop-detail .shop-detail-con .shop-pro-all dl dd .addCar .checkType {
    width: 1.4rem !important;
    height: 0.5rem !important;
    background: none !important;
    border-radius: 0.5rem;
    line-height: 0.5rem;
    border:1px solid #ff3156;
    color: #ff3156;
    font-size: 0.24rem;
    text-align: center;
    margin-bottom: 0.2rem;
}

.orderDetail .orderDetail_button_ed{
   width: 100%;
    height: 0.95rem;
    background: #cdcdcd;
    font-size: 0.32rem;
    color: #fff;
    border-radius: 5px;
    line-height: 0.95rem;
    text-align: center;
}

.mine{
  padding-bottom: 1rem;
}