
 <{extends file="<{$tempdir}>/public/admin.html"}>
  <{block name=extendjs}>
 <script type="text/javascript" language="javascript" src="<{$siteurl}>/templates/<{$tempdir}>/public/js/artdialog/plugins/iframeTools.js"></script>
  <script type="text/javascript" language="javascript" src="<{$siteurl}>/templates/<{$tempdir}>/public/js/chart/highcharts.js"></script>
<script type="text/javascript" language="javascript" src="<{$siteurl}>/templates/<{$tempdir}>/public/js/chart/modules/exporting.js"></script>
<script src="<{$siteurl}>/templates/<{$tempdir}>/public/js/datepicker/WdatePicker.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript">


	function gotolink(obj){
			  var checkvalue = $(obj).val();
			  var linkis = siteurl+'/index.php?ctrl=adminpage&action=analysis&module=shopcost&datemy=@datemy@';
		   	window.location.href= linkis.replace('@datemy@', checkvalue);
  }



</script>

 <{/block}>
 <{block name=controlname}>每天成功交易额统计<{/block}>
 <{block name=bodylist}>
   <div style="width:auto;overflow-x:hidden;overflow-y:auto">
      	 <div class="tags">
          <div id="tagscontent">
            <div style="text-align:center;height:30px;line-height:30px;widht:100%;">
                <input class="Wdate datefmt" type="text" name="datemy" id="datemy" value="<{$datemy}>"  onFocus="WdatePicker({isShowClear:false,readOnly:true});" onchange="gotolink(this)" />
            </div>
            <div id="con_one_1">

              <div class="table_td" style="margin-top:10px;">

         <div  id="container" style="min-width: 400px; height: 400px; margin: 0 auto">

              </div>


               <form method="post" action="" onsubmit="return remind();">
                  <table border="0" cellspacing="2" cellpadding="4" class="list" name="table" id="table" width="100%">
                    <thead>
                      <tr>
                        <th align="center">天</th>
                        <th align="center">成功交易额（元）</th>

                      </tr>
                    </thead>
                     <tbody>


                     	<{foreach from=$consumes key=key item=item}>
                           <tr>
                            <td align="center"><{$key}></td>
                            <td align="center"><{$item}></td>
                          </tr>
                       <{/foreach}>

                    </tbody>
                  </table>
               </form>

                <div class="page_newc">

                 </div>

                <div class="blank20"></div>

              </div>

            </div>

          </div>

        </div>


  </div>

</div>
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: '时间段统计e',
                x: 0 //center
            },
            subtitle: {
                text: '<{$siteurl}>',
                x:0
            },
            xAxis: {
                categories: [<{$x}>
              ]
            },
            yAxis: {
                title: {
                    text: '成功交易额(元)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +'号: '+ this.y +'(元)';
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: '天交易额',
                data: [<{$y}>]
            }]
        });
    });

});
		</script>

<!--newmain 结束-->
<{/block}>
