<{extends file="<{$tempdir}>/public/wxsite.html"}>
<{block name=sitetitle}><{$sitename}><{/block}>

<{block name=blockcontent}>
<div class="shop_map">
  <div class="addMap" onclick="replaceLocation('<{$siteurl}>/index.php?ctrl=wxsite&action=editaddress')">
    添加新地址
  </div>
  <div class="shopMap">
    <div class="noPro" >
      请先设置收货地址
    </div>
    <ul>
      <{foreach from=$arealist key=mykey item=items}>
      <li class="clearfix <{if $items['default'] == 1}>active<{/if}>">
        <div class="map_default"></div>
        <a href="<{$siteurl}>/index.php?ctrl=wxsite&action=editaddress&id=<{$items['id']}>">
          <div class="orderDetail_address">
            <div class="orderDetail_address_con">
              <p><span><{$items['contactname']}></span>&nbsp;&nbsp;<{$items['phone']}></p>
              <p><{$items['detailadr']}></p>
            </div>
          </div>
        </a>
        <div class="map_delete" gid="<{$items['id']}>"></div>
      </li>
      <{/foreach}>
    </ul>
  </div>
</div>
<script>
  $(".shopMap .map_default").on("click",function(){
    var i = $(this).index(".shopMap .map_default");
    $(this).parents("li").addClass("active").siblings("li").removeClass("active");
  })
  $(".map_delete").on("click",function(){
    var that = $(this);
    $.confirm({
      text: '是否删除？',
      onOK: function () {
        //点击确认
        var gid = that.attr('gid');
        var info = {'tijiao': 'del', 'addressid': gid};
        var url = '<{ofunc type=url link="/area/deladdress/random/@random@/datatype/json"}>';
        url = url.replace('@random@', 1 + Math.round(Math.random() * 1000));
        var backinfo = ajaxback(url, info);
        if (backinfo.flag == false) {
            that.parents("li").fadeOut(200);
        } else {
            //$('#loading').hide();
            $.toast(backinfo.content,'text');
        }
      },
      onCancel: function () {
      }
    });
  })
</script>
<{/block}>
<{block name="footer"}><{/block}>
