<{extends file="<{$tempdir}>/public/wxsite.html"}>
<{block name=sitetitle}><{$sitename}><{/block}>

<{block name=blockcontent}>
<div class="shopCollection">
  <div class="shop_group">
    <div class="shop_group_list">
      <div class="shop_group_item">
        <a href="shopDetail.html">
          <div class="shop_state shop_state_ing"></div>
          <div class="img"><img src="images/ic_coupon_2.png" alt=""></div>
          <div class="text">
            <div class="shop_name">正新鸡排（中新店）</div>
            <div class="shop_nums">销量325份</div>
            <div class="shop_decs fb-clearfix">
              <div class="fb-fl"><span>起送￥20</span><span>配送￥3</span></div>
              <div class="fb-fr"><span>10分钟</span><span>300m</span></div>
            </div>
            <div class="discount">
              <div class="discount_j">满30减5</div>
              <div class="discount_t">【5折】香酥鸡排限时抢购</div>
            </div>
          </div>
        </a>
      </div>
      <div class="shop_group_item">
        <a href="">
          <div class="shop_state shop_state_ed"></div>
          <div class="img"><img src="images/ic_coupon_2.png" alt=""></div>
          <div class="text">
            <div class="shop_name">正新鸡排（中新店）</div>
            <div class="shop_nums">销量325份</div>
            <div class="shop_decs fb-clearfix">
              <div class="fb-fl"><span>起送￥20</span><span>配送￥3</span></div>
              <div class="fb-fr"><span>10分钟</span><span>300m</span></div>
            </div>
            <div class="discount">
              <div class="discount_j">满30减5</div>
              <div class="discount_t">【5折】香酥鸡排限时抢购</div>
            </div>
          </div>
        </a>
      </div>


    </div>
    <div class="weui-loadmore weui-loadmore_line loadmored">
      <span class="weui-loadmore__tips">已经到底了</span>
    </div>
  </div>
</div>
<{/block}>
<{block name="footer"}><{/block}>
