<{extends file="<{$tempdir}>/public/wxsite.html"}>
<{block name=sitetitle}><{$sitename}><{/block}>
<{block name=blockcontent}>
  <div class="coupon">
      
    <div class="coupon_item">
      <div class="img fb-inlineBlock"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/images/ic_coupon_2.png" alt=""></div>
      <div class="text fb-inlineBlock">
        <p>满30元减5元</p>
        <span>有效期至：2018-01-20</span>
      </div>
      <div class="coupon_button coupon_button_get fb-inlineBlock">
        领取
      </div>
    </div>
    <div class="coupon_item">
      <div class="img fb-inlineBlock"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/images/ic_coupon_2.png" alt=""></div>
      <div class="text fb-inlineBlock">
        <p>满50元减10元</p>
        <span>有效期至：2018-01-20</span>
      </div>
      <div class="coupon_button coupon_button_ed fb-inlineBlock">
        已领取
      </div>
    </div>
    <div class="coupon_item">
      <div class="img fb-inlineBlock"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/images/ic_coupon_2.png" alt=""></div>
      <div class="text fb-inlineBlock">
        <p>满30元减15元</p>
        <span>有效期至：2018-01-20</span>
      </div>
      <div class="coupon_button coupon_button_get fb-inlineBlock">
        领取
      </div>
    </div>
    <div class="coupon_item">
      <div class="img fb-inlineBlock"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/images/ic_coupon_2.png" alt=""></div>
      <div class="text fb-inlineBlock">
        <p>满30元减5元</p>
        <span>有效期至：2018-01-20</span>
      </div>
      <div class="coupon_button coupon_button_get fb-inlineBlock">
        领取
      </div>
    </div>

  </div>
<{/block}>
<{block name=footer}><{/block}>
