<{block name=extendjs}>

<script>
function detfreshproduct() {
    var foodid = <{$foodshow['id']}>;
    var obj = $('.productinfobox .type_con');
    var tarray = new Array();
    var liarray = new Array();
    $.each(obj, function(i, newobj) {
        if ($(newobj).find('.active').eq(0).html() != undefined) {
            tarray.push($(newobj).find('.active').eq(0).attr('childid'));
        } else {
            liarray.push($(newobj).attr('data'));
        }
    });
    var shopid = $('input[name="product_shopid"]').val();
    var goodsid = $('input[name="product_goodsid"]').val();
    var ggdetids = tarray.join(',');
    if (tarray.length == $(obj).length) {
        var url = siteurl + '/index.php?ctrl=site&action=doselectproduct&goods_id=' + goodsid + '&shopid=' + shopid + '&ggdetids=' + ggdetids + '&type=1&datatype=json&random=@random@';
        url = url.replace('@random@', 1 + Math.round(Math.random() * 1000));
        var bk = ajaxback(url, '');
        if (bk.flag == false) { //需获取出当前商品的productid 并获取相关库存 已在购物中的数量
            var productinfo = bk.content;
            $('input[name="selectproductid"]').val(productinfo.id);
            console.log('productinfo.stock:'+productinfo.stock);
            if (productinfo.stock < 1) {
                $.toast('商品库存不足','text');
                $(".righ_l_b_btn_moren1").hide();
                $(".righ_l_b_btn_hover1").hide();
                return false;
            } else {
                $('#product_s_cost').text("￥" + productinfo.cost);
                if (productinfo.is_cx == 1) {
                    $('#product_s_oldcost').show();
                    //$('#product_s_oldcost').text("￥" + productinfo.oldcost);
                }
                if (productinfo.goodcartnum > 0) {
                    $(".righ_l_b_btn_moren1").hide();
                    $(".righ_l_b_btn_hover1").show();
                    $("#gshu_" + foodid).val(productinfo.goodcartnum);
                } else {
                    $(".righ_l_b_btn_moren1").show();
                    $(".righ_l_b_btn_hover1").hide();
                    $("#gshu_" + foodid).val(0);
                }
            }
        } else {

            $('input[name="selectproductid"]').val('');
            $.toast(bk.content,'text');
        }
    } else {
        //构造未选择完刷新提交数据
        $(".righ_l_b_btn_moren1").show();
        $(".righ_l_b_btn_hover1").hide();
        $("#gshu_" + foodid).val(0);
        $('input[name="selectproductid"]').val('');
        var url = siteurl + '/index.php?ctrl=site&action=doselectproduct&goods_id=' + goodsid + '&shopid=' + shopid + '&ggdetids=' + ggdetids + '&datatype=json&random=@random@';
        url = url.replace('@random@', 1 + Math.round(Math.random() * 1000));
        var bk = ajaxback(url, '');
        if (bk.flag == false) {
            var tempids = bk.content;
            var checkarray = tempids.split(',');
            for (var i = 0; i < liarray.length; i++) {
                var tempobj = $('#productggli_' + liarray[i]);
                var liboj = $(tempobj).find('label');
                $.each(liboj, function(j, newobj) {
                    if ($.inArray($(newobj).attr('pid'), checkarray) >= 0) {
                        $(newobj).removeClass('disable');
                    } else {
                        $(newobj).addClass('disable');
                    }
                });
            }
        }
    }

}
function initshop(datas){
    $('.cartshuliang').hide();
    $('.cartshuliang').text(0);
    $('#total_count').text(0);
    $('#total_money').text(0);
    if (datas.flag == false){
        html = "";
        $.each(datas.content.list, function(i,val){
            html +='<dd proid="'+val.id+'">';
            html +='    <div class="car-name fb-inlineBlock">';
            html +='      <p>'+val.name+'</p>';
            if(val.have_det == 1)
            {
                html +='    <span>'+val.gg.attrname+'</span>';
            }
            html +='    </div>';
            html +='    <div class="car-money fb-inlineBlock">￥<span>'+val.cost+'</span></div>';
            html +='    <div class="CaddCar fb-inlineBlock" maxnum="undefined">';
            if(val.have_det == 1)
            {
                html +='<div class="CprevC" have_det="'+val.have_det+'" product_id="'+val.gg.id+'"  data-id="'+val.id+'" data-shopid="'+val.shopid+'"></div>';
                html +='<div class="CCinput">'+val.count+'</div>';
                html +='<div class="CaddC" have_det="'+val.have_det+'" product_id="'+val.gg.id+'"  data-id="'+val.id+'" data-shopid="'+val.shopid+'"></div>';
                html +='</div>';
            }else{
                html +='<div class="CprevC" have_det="'+val.have_det+'" product_id="'+val.id+'" data-id="'+val.id+'" data-shopid="'+val.shopid+'"></div>';
                html +='<div class="CCinput">'+val.count+'</div>';
                html +='<div class="CaddC" have_det="'+val.have_det+'" product_id="'+val.id+'"  data-id="'+val.id+'" data-shopid="'+val.shopid+'"></div>';
            }

            html +='</dd>';
            $('.car-list dl').html(html);
        });
        if ($('#total_money').html() != undefined){
            <{if $carnum > 0 }>
            $(".righ_l_b_btn_moren1").hide();
            $(".righ_l_b_btn_hover1").show();
            <{/if}>

            $('#total_count').text(datas.content.sumcount);
            checkcartifempty();
            var shijicost = datas.content.sum;
            $('#total_money').text(shijicost.toFixed(2));
            if (Number(datas.content.sum) >= Number(shoplimitcost)){
                $(".shop-buy").addClass("active").html("去结算");
                $("#addShopping").show();
            }
            else{
                var checkcost = Number(shoplimitcost) - Number(datas.content.sum);
                checkcost = checkcost.toFixed(2);
                $(".shop-buy").removeClass("active").html("还差￥" + checkcost + "起送");
                $("#addShopping").hide();
            }
        } else{

        }
    }
}
function checkcartifempty(){    //检查购物车是否为空
    if ($('#total_count').html() == 0){
        $(".ordeilpaymenshop").hide();
        $(".emptycartBg").show();
        $(".ordeilpaymen").hide();
        $(".emptyordeilpaymen").show();
    } else{
        $(".ordeilpaymenshop").show();
        $(".emptycartBg").hide();
        $(".ordeilpaymen").show();
        $(".emptyordeilpaymen").hide();
    }
}

    var shopid = <{$shopinfo['id']}> ;

    var checknext = false;
    var shoplimitcost = '<{$shopdet['limitcost']}>';
    var zuocart = '<{$siteurl}>/index.php?ctrl=wxsite&action=gowei&id=<{$id}>';
    var page = 1;
    var can_show = true; //控制是否翻页
$(function(){
    can_show = false;
    // if (shoplimitcost == 0){
    //     $(".shop-buy").addClass("active");
    // } else{
    //     $(".shop-buy").removeClass("active");
    // }
    <{if $foodshow['have_det'] == 1 }>
            detfreshproduct();
    <{/if}>
    $('.righ_l_b_btn_moren1').bind("click", function() {
        if (lockclick()){
            detproducttocart($(this).attr('data-id'), $(this).attr('data-shopid'), 1);
        }
    });
    $('.right_l_btn_left1').bind("click", function() {
        if (lockclick()){
            detdeloneproduct($(this).attr('data-id'), $(this).attr('data-shopid'), 1);
        }
    });
    $('.right_l_btn_right1').bind("click", function() {
        if (lockclick()){
            detproducttocart($(this).attr('data-id'), $(this).attr('data-shopid'), 1);
        }
    });
});
</script>

<{/block}>
<div class="type_close"></div>
<div class="productinfobox">
    <div class="type_box_title"><{$foodshow['name']}></div>
    <{foreach from=$productinfo item=items}>
    <div class="type_con" data="<{$items['id']}>">
      <div class="type_item" id="productggli_<{$items['id']}>">
        <div class="type_item_title"><{$items['name']}>：</div>
        <{foreach from=$items['det']  key=keys item=itk}>
        <label class="product_li_det  <{if empty($attrids) && $keys==0}>active<{/if}>  <{if in_array($itk['id'],$attrids)}>active<{/if}> " mainid="<{$items['id']}>"  childid="<{$itk['id']}>" pid="<{$itk['id']}>"><{$itk['name']}></label>
        <{/foreach}>
      </div>
    </div>
<{/foreach}>
</div>
<div class="type_bottom">
  <input type="hidden" name="selectproductid" value="<{$nowselect['id']|default:'0'}>">
  <input type="hidden" name="product_shopid" value="<{$foodshow['shopid']}>">
  <input type="hidden" name="product_goodsid" value="<{$foodshow['id']}>">
  <div class="type_money" id="product_s_cost"><{if empty($nowselect)}>请选择规格<{else}>￥<span><{$nowselect['cost']|default:'0'}></span><{/if}></div>
  <!-- <div class="type_button">加入购物车</div> -->

  <div class="liwd30 cart_pro_all" >
        <ul class="ordisordR">
            <{if $foodshow['is_live'] == 1 }>
            <{if $foodshow['count'] > 0 }>
            <div class="righ_l_b_btn" >
                <div class="righ_l_b_btn_moren1"    data-id="<{$items['id']}>" data-shopid="<{$foodshow['shopid']}>" id="gid_<{$foodshow['id']}>" have_det="<{$foodshow['have_det']}>" data-price="<{$foodshow['cost']}>" typeid="<{$foodshow['typeid']}>">
                    <li><i class="ordenabotR"></i></li>
                </div>
                <div class="righ_l_b_btn_hover1" style="display:none;">
                    <span class="right_l_btn_left1"   data-id="<{$foodshow['id']}>" data-shopid="<{$foodshow['shopid']}>" have_det="<{$foodshow['have_det']}>">
                        <li><i class="ordenabotL"></i></li>
                    </span>
                    <li><input class="right_l_btn_nub" readonly id="gshu_<{$foodshow['id']}>" type="text" value="<{$nowselect['count']}>"></li>
                    <span class="right_l_btn_right1"   id="gid_<{$foodshow['id']}>" data-price="<{$foodshow['cost']}>" typeid="<{$foodshow['typeid']}>" data-id="<{$foodshow['id']}>" data-shopid="<{$foodshow['shopid']}>" have_det="<{$foodshow['have_det']}>">
                        <li><i class="ordenabotR"></i></li>
                    </span></div>
            </div>
            <{else}>
            <li style="color:#cccccc;"   class="moreguige">售完</li>

            <{/if}>
            <{else}>
            <li style="color:#cccccc;"   class="moreguige">已下架</li>

            <{/if}>

        </ul>
    </div>

</div>
<script>
var foodid = <{$foodshow['id']}>;
var click_button = false;
function doubleclick(){
    click_button = false;
}
function lockclick(){
    if (click_button == false){
        click_button = true;
        setTimeout("doubleclick()", 300);
        return true;
    } else{
        return false;
    }
}
var is_open = false;
$(function(){
    if (lockclick()){
        detbindclcikattr();
    }

});
function detbindclcikattr(){
    $('.type_item label').bind("click", function() {
        if (lockclick()){
            var obj = $('.productinfobox .type_con');
            var tarray = new Array();
            var liarray = new Array();
            $.each(obj, function(i, newobj){
                if ($(newobj).find('.active').eq(0).html() != undefined){
                    tarray.push($(newobj).find('.active').eq(0).attr('childid'));
                } else{
                    liarray.push($(newobj).attr('data'));
                }
            });
            $(this).addClass('active').siblings().removeClass('active');
            detfreshproduct();
        }
    });
}
function detproducttocart(gid, tshopid, num){
    return detuponeproduct($('input[name="selectproductid"]').val(), $('input[name="product_shopid"]').val(), 1);
}
function detdeloneproduct(gid, tshopid, num){
    return detremoveoneproduct($('input[name="selectproductid"]').val(), $('input[name="product_shopid"]').val(), 1);
}
function detuponeproduct(gid, tshopid, num){
    var url = siteurl + '/index.php?ctrl=site&action=addcart&goods_id=' + gid + '&shopid=' + tshopid + '&num=1&gdtype=2&datatype=json&random=@random@';
    url = url.replace('@random@', 1 + Math.round(Math.random() * 1000));
    var bk = ajaxback(url, '');
    if (bk.flag == false){
        detfreshproduct();
        freshcart();
        return true;
    } else{
        $.toast(bk.content,'text');
        return false;
    }
}
function detremoveoneproduct(gid, tshopid, num){
    url = siteurl + '/index.php?ctrl=site&action=downcart&goods_id=' + gid + '&shopid=' + tshopid + '&num=1&gdtype=2&datatype=json&random=@random@';
    url = url.replace('@random@', 1 + Math.round(Math.random() * 1000));
    var bk = ajaxback(url, '');
    if (bk.flag == false){
        freshcart();
        detfreshproduct();
    } else{
        $.toast(bk.content,'text');
    }
}
function freshowdetcart(){
    url = siteurl + '/index.php?ctrl=wxsite&action=cart&shopid=' + shopid + '&datatype=json&random=@random@';
    url = url.replace('@random@', 1 + Math.round(Math.random() * 1000));
    var bk = ajaxback(url, '');
    if ($('#showorderdet .showorderListss').html() == undefined){

    } else{
        showcartdet(bk);
    }

}
function showcartdet(datas){
 	 $('#showorderdet .showorderListss').html('');
 	  if(datas.flag == false){
    	   //	$('.listcontent').remove();
		   console.log(datas.content.list);
    	var temp_htmls = '';
           $('#showorderdet .showorderListss').append(temp_htmls);
    	 	  $.each(datas.content.list, function(i,val){
					var list = val;
					var html = '';
				   html +=' <div class="box_inline goodsli" style="padding:5px 5px 5px 8px;border-top: 1px solid #cccccc; "    id="gidli_'+list.id+'"  >  ';
				   html +=' <div class="liwd30 detcart"  style="width:50%; text-align:left;">  ';
				   html +='  '+val.name+' ';
				   if( list.have_det==1 ){
						 html +=' <font style="color:#ccc;font-size:10px;">'+list.gg.attrname+'</font> ';
				   }
 					html +='  	</div> ';
					html +=' <div class="liwd30 detcart" style="width:20%; text-align:left;"> ';
					html +='	￥'+list.cost+' ';
					html +='	</div> ';
					html +='	<div class="liwd30 detcart" style="width:30%; text-align:center;"> ';
					html +='	<div style="width:90px; height:38px; line-height:38px;"> ';
					if( list.have_det==1 ){
						html +=' <span class="addbtn" have_det="'+list.have_det+'"    product_id="'+list.gg.id+'"  data-id="'+list.id+'" data-shopid="'+list.shopid+'"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/images/<{if $color == "green"}>grjia.png<{else if $color == "yellow"}>yejia.png<{else}>redjia.png<{/if}>" /></span>   ';

					}else{
 						html +=' <span class="addbtn" have_det="'+list.have_det+'"     data-id="'+list.id+'" data-shopid="'+list.shopid+'"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/images/<{if $color == "green"}>grjia.png<{else if $color == "yellow"}>yejia.png<{else}>redjia.png<{/if}>" /></span>   ';

					}
					html +='	<span class="shuliang gdhd">'+list.count+'</span> ';
					if( list.have_det==1 ){
						html +='   <span class="downdbtn " have_det="'+list.have_det+'"  product_id="'+list.gg.id+'"     data-id="'+list.gg.id+'" data-shopid="'+list.shopid+'"><img   src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/images/<{if $color == "green"}>add_01_1.png<{else if $color == "yellow"}>add_01_2.png<{else}>add_01.png<{/if}>" /></span> ';

					}else{
						html +='   <span class="downdbtn " have_det="'+list.have_det+'"   data-id="'+list.id+'"   data-shopid="'+list.shopid+'"><img   src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/images/<{if $color == "green"}>add_01_1.png<{else if $color == "yellow"}>add_01_2.png<{else}>add_01.png<{/if}>" /></span> ';

					}
 					html +='  	</div> ';
					html +='  	</div> ';
				html +='  </div> ';
     	 	 	  $('#showorderdet .showorderListss').append(html);
    	    });


           $('.addbtn').bind("click", function() {
      	    	if(checknext ==  false){
      	    		checknext = true;
					var checkhavedet = $(this).attr('have_det');
					if(checkhavedet == 1){
						 uponeproduct($(this).attr('product_id'),$(this).attr('data-shopid'),1);
						 freshowdetcart();
					}else{
						addonedish($(this).attr('data-id'),$(this).attr('data-shopid'),1,this);
					 	freshowdetcart();
				   }
      	     	   setTimeout("myyanchi()", 500 );
           	  }

          });
           $('.downdbtn').bind("click", function() {
           	  if(checknext ==  false){
           	  		checknext = true;
					var checkhavedet = $(this).attr('have_det');
					if(checkhavedet == 1){
						 removeoneproduct($(this).attr('product_id'),$(this).attr('data-shopid'),1);
						 freshowdetcart();
					}else{
						removeonedish($(this).attr('data-id'),$(this).attr('data-shopid'),1,this);
						freshowdetcart();
						freshcart();
				   }

      	     	   setTimeout("myyanchi()", 500 );
           	  }

          });
		   $('.showorderListss').css('height',$('#showorderdet').find('.box_inline').length*49);
		//   scroll5.refresh();
    }else{
          $('#cartlist').hide();
    }
}
</script>
