<{extends file="<{$tempdir}>/public/wxsite.html"}>
<{block name=sitetitle}>个人中心 筷叫餐<{/block}>
<{block name=blockcontent}>

<div class="mine"  >
  <div class="mine_header" onclick="dolink('<{ofunc type=url link="/wxsite/myaccount"}>');">
    <div class="img fb-inlineBlock">
        <{if !empty($member['uid']) || $WeChatType == 1}>
        <img src="<{$member['logo']|default:$userlogo}>"/>
        <{else}>
        <img src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/images/toux.png" />
        <{/if}>
    </div>
    <div class="text fb-inlineBlock" onclick="dolink('<{ofunc type=url link="/wxsite/myaccount"}>');">
      <div class="name">
          <{if !empty($member['uid'])}>
          <{$member['username']}>
          <{else}>
          立即登录
          <{/if}>
      </div>
      <div class="decs">睡觉不能太早，免得夜长梦多。</div>
    </div>
  </div>
  <div class="mine_con">
    <div class="weui-cells">
      <a class="weui-cell weui-cell_access" href="<{ofunc type=url link="/wxsite/myaccount"}>">
        <div class="weui-cell__hd"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/images/ic_mine_infor.png"></div>
        <div class="weui-cell__bd">
          <p>个人信息</p>
        </div>
        <div class="weui-cell__ft">
        </div>
      </a>
      <a class="weui-cell weui-cell_access" href="<{ofunc type=url link="/wxsite/address"}>">
        <div class="weui-cell__hd"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/images/ic_mine_address.png"></div>
        <div class="weui-cell__bd">
          <p>我的地址</p>
        </div>
        <div class="weui-cell__ft">
        </div>
      </a>
      <a class="weui-cell weui-cell_access" href="<{ofunc type=url link="/wxsite/collect"}>">
        <div class="weui-cell__hd"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/images/ic_mine_collection.png"></div>
        <div class="weui-cell__bd">
          <p>店铺收藏</p>
        </div>
        <div class="weui-cell__ft">
        </div>
      </a>
      <a class="weui-cell weui-cell_access" href="<{ofunc type=url link="/wxsite/juan"}>">
        <div class="weui-cell__hd"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/images/ic_mine_coupon.png"></div>
        <div class="weui-cell__bd">
          <p>我的券包</p>
        </div>
        <{if !empty($member['uid']) || $WeChatType == 1}>
        <div class="weui-cell__ft">
          有<{$juanshu|default:'0'}>张可用
        </div>
        <{/if}>
      </a>
      <a class="weui-cell weui-cell_access" href="<{ofunc type=url link="/wxsite/getCoupon"}>">
        <div class="weui-cell__hd"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/images/ic_mine_coupon2.png"></div>
        <div class="weui-cell__bd">
          <p>领取代金券</p>
        </div>
        <div class="weui-cell__ft">
        </div>
      </a>
    </div>
    <div class="weui-cells">
      <a class="weui-cell weui-cell_access" href="tape.html">
        <div class="weui-cell__hd"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/images/ic_mine_notice.png"></div>
        <div class="weui-cell__bd">
          <p>消息通知</p>
        </div>
        <div class="weui-cell__ft">
        </div>
      </a>
      <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/images/ic_mine_about.png"></div>
        <div class="weui-cell__bd">
          <p>关于我们</p>
        </div>
        <div class="weui-cell__ft">
        </div>
      </a>
    </div>
  </div>
</div>
<{/block}>
