<{extends file="<{$tempdir}>/public/wxsite.html"}>
<{block name=sitetitle}>个人信息 筷叫餐<{/block}>
<{block name=blockcontent}>
<div class="mineInfo">
  <div class="weui-cells">
    <a class="weui-cell weui-cell-tx " >
      <div class="weui-cell__bd">
        <p>头像</p>
      </div>
      <div class="weui-cell__ft">
        <img src="<{$member['logo']|default:$userlogo}>" alt="">
      </div>
    </a>
    <a class="weui-cell " href="javascript:;">
      <div class="weui-cell__bd">
        <p>昵称</p>
      </div>
      <div class="weui-cell__ft">
        <{$member['username']}>
      </div>
    </a>
    <a class="weui-cell " href="javascript:;">
      <div class="weui-cell__bd">
        <p>性别</p>
      </div>
      <div class="weui-cell__ft">
        男
      </div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd">
        <p>签名</p>
      </div>
      <div class="weui-cell__ft">

      </div>
    </a>

  </div>
</div>
<{/block}>
<{block name=footer}><{block name=footer}>
