<{extends file="<{$tempdir}>/public/wxsite.html"}>
<{block name=sitetitle}><{$sitename}><{/block}>
<{block name=blockcontent}>
    <div class="orderDetail">
      <div class="orderDetail_top">
        <div class="orderDetail_shopName"><{$order['shopname']}></div>
        <div class="orderDetail_pro">
          <{foreach from=$orderdet item=items}>
          <div class="orderDetail_pro_item">

            <div class="orderDetail_pro_name fb-inlineBlock">
              <p><{$items['goodsname']}></p>
              <span>大份、孜然+微辣</span>
            </div>
            <div class="orderDetail_pro_num fb-inlineBlock">
              x<{$items['goodscount']}>
            </div>
            <div class="orderDetail_pro_money fb-inlineBlock">
              ￥<{$items['goodscost']}>
            </div>
          </div>
          <{/foreach}>
        </div>
        <div class="orderDetail_item">
          <p>配送费</p>
          <span>￥<{$order['shopps']}></span>
        </div>
        <{if $order['addpscost'] > 0 }>
        <div class="orderDetail_item">
          <p>附加配送费</p>
          <span>￥<{$order['addpscost']}></span>
        </div>
        <{/if}>
        <{if $order['bagcost'] > 0 }>
        <div class="orderDetail_item">
          <p>打包费</p>
          <span>￥<{$order['bagcost']}></span>
        </div>
        <{/if}>
        <{if $order['cxcost'] > 0 }>
        <div class="orderDetail_item fsMain">
          <p>商家优惠</p>
          <span>-￥<{$order['cxcost']}></span>
        </div>
        <{/if}>
        <div class="orderDetail_item fsMain">
          <p>优惠券</p>
          <span>-￥<{$order['yhjcost']}></span>
        </div>
        <div class="orderDetail_money">
          <p>实付<span>￥<{$order['allcost']}></span></p>
        </div>
      </div>
      <div class="orderDetail_address">
        <div class="orderDetail_address_title">收货地址</div>
        <div class="orderDetail_address_con">
          <p><span><{$order['buyername']}></span><{$order['buyerphone']}></p>
          <p><{$order['buyeraddress']}></p>
        </div>
      </div>
      <div class="orderDetail_info">
        <div class="orderDetail_info_title">
          订单信息
        </div>
        <div class="orderDetail_info_item fb-clearfix fsMain">
          <p>订单状态</p>
          <span>等待商家接单</span>
        </div>
        <div class="orderDetail_info_item fb-clearfix">
          <p>订单号码</p>
          <span><{$order['dno']}></span>
        </div>
        <div class="orderDetail_info_item fb-clearfix">
          <p>订单时间</p>
          <span><{$order['addtime']}></span>
        </div>
        <div class="orderDetail_info_item fb-clearfix">
          <p>支付方式</p>
          <span>微信支付</span>
        </div>
      </div>
      <div class="orderDetail_mask">
        <{$order['content']}>
      </div>
      <div class="orderDetail_button">
        <a href="">取消订单</a>
      </div>
    </div>
<{/block}>
