<{extends file="<{$tempdir}>/public/wxsite.html"}>
<{block name=sitetitle}><{$sitename}><{/block}>
<{block name=blockcontent}>
    <div class="orderDetail">
      <div class="orderDetail_top">
        <div class="orderDetail_shopName"><{$order['shopname']}></div>
        <div class="orderDetail_pro">
          <{foreach from=$orderdet item=items}>
          <div class="orderDetail_pro_item">

            <div class="orderDetail_pro_name fb-inlineBlock">
              <p><{$items['goodsname']}></p>
              <span><{$items['goodsattr']}></span>
            </div>
            <div class="orderDetail_pro_num fb-inlineBlock">
              x<{$items['goodscount']}>
            </div>
            <div class="orderDetail_pro_money fb-inlineBlock">
              ￥<{$items['goodscost']}>
            </div>
          </div>
          <{/foreach}>
        </div>
        <div class="orderDetail_item">
          <p>配送费</p>
          <span>￥<{$order['shopps']}></span>
        </div>
        <{if $order['addpscost'] > 0 }>
        <div class="orderDetail_item">
          <p>附加配送费</p>
          <span>￥<{$order['addpscost']}></span>
        </div>
        <{/if}>
        <{if $order['bagcost'] > 0 }>
        <div class="orderDetail_item">
          <p>打包费</p>
          <span>￥<{$order['bagcost']}></span>
        </div>
        <{/if}>
        <{if $order['cxcost'] > 0 }>
        <div class="orderDetail_item fsMain">
          <p>商家优惠</p>
          <span>-￥<{$order['cxcost']}></span>
        </div>
        <{/if}>
        <div class="orderDetail_item fsMain">
          <p>代金券</p>
          <span>-￥<{$order['yhjcost']}></span>
        </div>
        <div class="orderDetail_money">
          <p>实付<span>￥<{$order['allcost']}></span></p>
        </div>
      </div>
      <div class="orderDetail_address">
        <div class="orderDetail_address_title">收货地址</div>
        <div class="orderDetail_address_con">
          <p><span><{$order['buyername']}></span><{$order['buyerphone']}></p>
          <p><{$order['buyeraddress']}></p>
        </div>
      </div>
      <div class="orderDetail_info">
        <div class="orderDetail_info_title">
          订单信息
        </div>
        <div class="orderDetail_info_item fb-clearfix fsMain">
          <p>订单状态</p>
          <span><{$order['order_status']}></span>
        </div>
        <div class="orderDetail_info_item fb-clearfix">
          <p>订单号码</p>
          <span><{$order['dno']}></span>
        </div>
        <div class="orderDetail_info_item fb-clearfix">
          <p>订单时间</p>
          <span><{$order['addtime']}></span>
        </div>
        <div class="orderDetail_info_item fb-clearfix">
          <p>支付方式</p>
          <span>微信支付</span>
        </div>
      </div>
      <{if !empty($order['content'])}>
      <div class="orderDetail_mask">
        <{$order['content']}>
      </div>
      <{/if}>

        <{if $order['is_reback'] == 0}>
        <{if $order['status'] >= 0 && $order['status'] < 2}>
            <{if $order['is_reback'] == 0  }>
                <{if $order['paystatus'] == 1}>
                    <div class="orderDetail_button"><a href="javascript:void(0);" onclick="javascript:cancel_order('<{$order['id']}>');">取消订单</a></div>
                <{/if}>
            <{/if}>
        <{/if}>
        <{if $order['status'] == 4}>
            <{if $order['is_reback'] == 2}>
                <div class="orderDetail_button"><a href="javascript:void(0);" class="orderDetail_button_ed">已退款</a></div>
            <{else}>
                <div class="orderDetail_button"><a href="javascript:void(0);" class="orderDetail_button_ed">退款中</a></div>
            <{/if}>
        <{/if}>
        <{if $order['status'] == 5}>
            <div class="orderDetail_button"><a href="javascript:void(0);" class="orderDetail_button_ed">已退款</a></div>
        <{/if}>
        <{if $order['status'] == 0 && $order['paystatus'] == 0  }>

            <div class="orderDetail_button"><a href="javascript:void(0);" class="pay_btn pay_btn_b" timestamp="<{$order['setime']}>">继续支付(还需<span>00分00秒</span>)</a></div>
        <{/if}>
        <{if $order['status'] == 2  && $order['is_reback'] == 0  }>
            <div class="orderDetail_button"><a onclick="acceptorder('<{$order['id']}>');" href="javascript:void(0);">确认收货 </a></div>
        <{/if}>
        <{if $order['status'] == 3 && $order['is_acceptorder'] == 1 }>
            <div class="orderDetail_button"><a href="javascript:void(0);" class="orderDetail_button_ed">已完成</a></div>
        <{/if}>
        <{else}>
            <{if $order['is_reback'] == 1}>
                <{if $order['is_make'] == 2}>
                <div class="orderDetail_button"><a href="javascript:void(0);" class="orderDetail_button_ed">退款中(商家无法制作关闭订单)</a></div>
                <{else}>
                <div class="orderDetail_button"><a href="javascript:void(0);" class="orderDetail_button_ed">退款中</a></div>
                <{/if}>
            <{else if $order['is_reback'] == 2}>
                <div class="orderDetail_button"><a href="javascript:void(0);" class="orderDetail_button_ed">已退款</a></div>
            <{else if $order['is_reback'] == 3}>
                <div class="orderDetail_button"><a href="javascript:void(0);" class="orderDetail_button_ed">拒绝退款</a></div>
            <{else if $order['is_reback'] == 4}>
                <div class="orderDetail_button"><a href="javascript:void(0);" class="orderDetail_button_ed">退款中</a></div>
            <{/if}>
        <{/if}>

      <!-- <div class="orderDetail_button">
            <a href="javascript:void(0);" class="pay_btn pay_btn_b" timestamp="100">继续支付(还需<span>15分00秒</span>)</a>
      </div>
      <div class="orderDetail_button closeOrder">
            <a onclick="javascript:cancel_order('<{$order['id']}>');" href="javascript:void(0);">取消订单 </a>
      </div> -->
    </div>
    <script>


    var timestamp = $(".pay_btn_b").attr("timestamp");
    // 倒计时
    function countTime(){
        --timestamp;
        if(timestamp == 0){
            //时间到
           window.location.reload();
        }else{
            var min=Math.floor(timestamp/60%60);
            var sec=Math.floor(timestamp%60);
            if(min < 10){
                min = '0'+min;
            }
            if(sec < 10){
                sec = '0'+sec;
            }
            $(".pay_btn_b span").text(min+"分"+sec+"秒")
        }
    }
    setInterval(function(){
        countTime()
    },1000)



    function cancel_order(id)
    {
        $.confirm({
            text: '是否取消订单',
            onOK: function() {
                $F.loading();
                //点击确认
                var info = {'orderid': id,'typeid':0};
                var url =  siteurl+'/index.php?ctrl=wxsite&action=savedrawbacklog&datatype=json&random=@random@';
                $.ajax({
                    url: url.replace('@random@', 1+Math.round(Math.random()*1000)),
                    dataType: "json",
                    data:info,
                    success:function(content) {
                        $F.closeLoading();
                        if(content.error ==  false){
                            $.toast('取消成功!','text');
                            window.location.href=  siteurl+'/index.php?ctrl=wxsite&action=ordershow&orderid='+id ;
                        }else{
                            $.toast(content.msg,'text');
                        }
                    },
                    error:function(){
                        $F.closeLoading();
                    }
                });
            },
            onCancel: function() {}
        });
    }
    function acceptorder(id){
        $.confirm({
            text: '确认收货？',
            onOK: function() {
                $F.loading();
                //点击确认
                var info = {'orderid': id,'typeid':0};
                var url =  siteurl+'/index.php?ctrl=order&action=acceptorder&orderid='+id+'&datatype=json&random=@random@';
                $.ajax({
                    url: url.replace('@random@', 1+Math.round(Math.random()*1000)),
                    dataType: "json",
                    data:info,
                    success:function(content) {
                        $F.closeLoading();
                        if(content.error ==  false){
                            $.toast('确认收货成功!','text');
                            window.location.href=  siteurl+'/index.php?ctrl=wxsite&action=ordershow&orderid='+id ;
                        }else{
                            $.toast(content.msg,'text');
                        }
                    },
                    error:function(){
                        $F.closeLoading();
                    }
                });
            },
            onCancel: function() {}
        });

   }
    $("body").on('click','.pay_btn',function(){
        url = siteurl+'/index.php?ctrl=wxsite&action=pay&random=@random@';
        $.ajax({         //script定义
            url: url.replace('@random@', 1+Math.round(Math.random()*1000)),
            dataType: "json",
            async:true,
            data:{orderid:'<{$order['id']}>'},
            success:function(content) {
                console.log(content);
                if(content.error ==  false){
                    wxdata = eval('('+ content.wxdata +')');
                    callpay();
                }else{
                    $.toast(content.msg,'text');
                    return false;
                }
            },
            error:function(){
                //$.toast(content.msg,'text');
            }
        });
    });
    function jsApiCall()
    {
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest',
            wxdata,
            function(res){
                WeixinJSBridge.log(res.err_msg);
                var dostring = res.err_msg;
                var temparr = dostring.split(':');
                if(temparr.length == 2){
                    if(temparr[1] == 'ok'){
                        window.location.reload();
                    }
                }else{
                    $.toast(res.err_msg,'text');
                }
            }
        );

    }
    function callpay()
    {
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        }else{
            jsApiCall();
        }
    }
    </script>
<{/block}>

<{block name=footer}><{/block}>
