<{extends file="<{$tempdir}>/public/wxsite.html"}>
<{block name=sitetitle}><{$sitename}><{/block}>
<{block name=blockcontent}>
<div class="search">
  <div class="weui-search-bar weui-search-bar_focusing fb-position-fixed" id="searchBar">
    <form class="weui-search-bar__form">
      <div class="weui-search-bar__box">
        <i class="weui-icon-search fb-inlineBlock"></i>
        <input type="search" class="weui-search-bar__input fb-inlineBlock" id="searchInput" placeholder="搜索" required="">
        <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
      </div>
      <label class="weui-search-bar__label" id="searchText">
        <i class="weui-icon-search"></i>
        <span>搜索</span>
      </label>
    </form>
    <a href="javascript:" class="" id="searchCancel">搜索</a>
  </div>
  <!-- <div class='noPro' style="display:block;">没有相关的数据</div> -->

</div>
<script>
  $("#searchInput").on('keypress',function(e) {  
                var keycode = e.keyCode;  
                var searchName = $(this).val();  
                if(keycode=='13') {  
                    e.preventDefault();    
                    //请求搜索接口  
                    var searchname = $("#searchInput").val();
                    if(searchname != ''){
                        $F.loading();
                        var url = '<{ofunc type=url link="/wxsite/searchresult"}>';
                        $.post(url, {'searchname':searchname},function (data, textStatus){
                            $('.noPro').remove();
                            $('.search').find(".shop_group").remove().end().append(data);
                            $F.closeLoading();
                        }, 'html');
                    }else{

                    }
                }  
         });  

  $("#searchInput").click(function(){
    $(this).focus()
  })
  $("#searchInput").trigger("click")
  $("#searchCancel").on("click",function(){
    //$(".weui-search-bar__form").submit();
    var searchname = $("#searchInput").val();
    if(searchname != ''){
        $F.loading();
        var url = '<{ofunc type=url link="/wxsite/searchresult"}>';
        $.post(url, {'searchname':searchname},function (data, textStatus){
            $('.noPro').remove();
            $('.search').find(".shop_group").remove().end().append(data);
            $F.closeLoading();
        }, 'html');
    }else{

    }
  })



  
//  滚动
    var loading = false;  //状态标记
    var page = 0;
    $(document.body).infinite(50).on("infinite", function() {
      if(loading) return;
      page++;
      loading = true;
      /*
      setTimeout(function() {
        $(".shop_group_list").append(`<div class="shop_group_item">
        <a href="">
          <div class="shop_state shop_state_ing"></div>
          <div class="img"><img src="images/ic_coupon_2.png" alt=""></div>
          <div class="text">
            <div class="shop_name">正新鸡排（中新店）</div>
            <div class="shop_nums">销量325份</div>
            <div class="shop_decs fb-clearfix">
              <div class="fb-fl"><span>起送￥20</span><span>配送￥3</span></div>
              <div class="fb-fr"><span>10分钟</span><span>300m</span></div>
            </div>
            <div class="discount">
              <div class="discount_j">满30减5</div>
              <div class="discount_t">【5折】香酥鸡排限时抢购</div>
            </div>
          </div>
        </a>
      </div>
      <div class="shop_group_item">
        <a href="">
          <div class="shop_state shop_state_ed"></div>
          <div class="img"><img src="images/ic_coupon_2.png" alt=""></div>
          <div class="text">
            <div class="shop_name">正新鸡排（中新店）</div>
            <div class="shop_nums">销量325份</div>
            <div class="shop_decs fb-clearfix">
              <div class="fb-fl"><span>起送￥20</span><span>配送￥3</span></div>
              <div class="fb-fr"><span>10分钟</span><span>300m</span></div>
            </div>
            <div class="discount">
              <div class="discount_j">满30减5</div>
              <div class="discount_t">【5折】香酥鸡排限时抢购</div>
            </div>
          </div>
        </a>
      </div>`);
        if(page == 2){
          $(document.body).destroyInfinite();
          $(".loadmoreing").hide();
          $(".loadmored").show()
        }else{
          loading = false;
        }

      }, 1500);   //模拟延迟
      */
    });


</script>
<{/block}>
<{block name=footer}><{/block}>
