<{extends file="<{$tempdir}>/public/wxsite.html"}>
<{block name=sitetitle}><{$sitename}><{/block}>
<{block name=blockcontent}>
  <div class="tape">
    <div class="tape_item">
      <div class="tape_title">系统消息</div>
      <div class="tape_date">10分钟前</div>
      <div class="tape_con">你已领取一张代金券，请在“我的券包”中查看。</div>
    </div>
    <div class="tape_item">
      <div class="tape_title">系统消息</div>
      <div class="tape_date">1天前</div>
      <div class="tape_con">你有2张代金券将要失效，请尽快使用。</div>
    </div>
    <div class="tape_item">
      <div class="tape_title">系统消息</div>
      <div class="tape_date">2018-01-05</div>
      <div class="tape_con">欢迎加入“筷叫餐”平台，赠送您3张代金券，请在“我的券包”中查看。</div>
    </div>

  </div>
  <{/block}>
  <{block name=footer}><{/block}>
