<{if !empty($orderlist) }>
 <{foreach from=$orderlist item=items }>
 <div class="orderList_item">
   <a href="">
     <div class="img"><img src="<{if $items['shoplogo']}><{$items['shoplogo']}><{else}><{$shoplogo}><{/if}>" alt=""></div>
     <div class="text">
       <div class="text_top fb-clearfix">
         <div class="name fb-fl"><{$items['shopname']}></div>
         <div class="state fb-fr"><{$items['order_status']}></div>
       </div>
       <div class="date">1分钟前</div>
       <div class="order_con fb-clearfix">
         <div class="order_con_l fb-fl">共3件商品</div>
         <div class="order_con_r fb-fr">￥<{$items['allcost']}></div>
       </div>
     </div>
   </a>
   <div class="orderList_bottom">

    <a href="#" class="order_button order_button_pay fb-inlineBlock">去付款</a>
   </div>
 </div>
<{/foreach}>
 <{/if}>
