<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="order/complaint:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
<form action="?order/complaint-reply.html" mini-form="item-form" method="post">
<table width="100%" border="0" cellspacing="0" class="table-data form">
    <tr>
        <th>订单号：</th>
        <td class="w-300">
            <b><{$detail.order_id}></b>&nbsp;&nbsp;&nbsp;&nbsp; 
            <{link ctl="order/order:detail" arg0=$order.order_id title="查看订单详情" class="button"}>
        </td>
        <th>订单总价：</th><td><b class="red">￥<{$order.product_price+$order.package_price+$order.freight}></b></td>
    </tr>
    <tr><th>商户：</th><td><{$shop.title|default:'--'}>(ID:<{$detail.shop_id}>)</td> <th>用户：</th><td><{$member.mobile}>(<{$member.nickname}>)</td></tr>
    <tr>
        <th>支付状态：</th>
        <td>
            <{if !$order.online_pay}>
                <span class="red">货到付款</span>
            <{elseif !$order.pay_status}>
                <span class="red">还未支付</span>
            <{else}>
            <span class="green">已支付</span>
            <{/if}>
        </td>
        <th>订单状态：</th><td><b class="red"><{$order.order_status_label}></b></td>
    </tr>
    <tr>
        <th>配送方式：</th>
        <td><{if !$order.pei_type}>商家自主配送<{elseif $order.staff_id}>配送员(<{$staff.name}>，<{$staff.mobile}>)<{else}>平台送<{/if}></td>
        <th>配送地址：</th><td><b class="green"><{$order.addr}>, <{$order.house}>(<{$order.contact}>, <{$order.mobile}>)</b></td>
    </tr>
    <{if $detail.staff_id>0}>
    <tr>
        <th>配送员：</th>
        <td colspan="3"><{$staff.name}>(<{$staff.mobile}>)</td>
    </tr>
    <{/if}>
    <tr><td colspan="10" class="h-10"></td></tr>
    <tr><th>标题：</th><td colspan="3"><{$detail.title}></td></tr>
    <tr><th>内容：</th><td colspan="3"><p class="tip-notice"><{$detail.content|nl2br}></p></td></tr>
    <tr>
        <th>投诉时间：</th>
        <td colspan="3"><{$detail.dateline|format}>(<{$detail.clientip}>, <{$detail.clientip|iplocal}>)</td>
    </tr>
    <tr>
        <th>回复时间：</th><td colspan="3"><{if $detail.reply_time}><{$detail.reply_time|format}><{else}>未回复<{/if}></td>
    </tr>
    <tr><th>回复：</th><td colspan="3"><textarea name="reply_content" class="textarea w-400"><{$detail.reply}></textarea><br /></td></tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>    
</table>
</form>
</div>
<{include file="admin:common/footer.html"}>