<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="ditui/ditui:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?ditui/ditui-edit.html" mini-form="ditui-form" method="post" ENCTYPE="multipart/form-data">
<table width="100%" border="0" cellspacing="0" class="table-data form">
<input type="hidden" name="ditui_id" value="<{$detail.ditui_id}>"/>
<tr><th>递推ID：</th><td><input type="text" name="data[ditui_id]" value="<{$detail.ditui_id|default:''}>" class="input w-100"/></td></tr>
<tr><th>城市ID：</th><td><input type="text" name="data[city_id]" value="<{$detail.city_id|default:''}>" class="input w-100"/><span class="tip-comment">城市ID</span></td></tr>
<tr><th>手机号：</th><td><input type="text" name="data[mobile]" value="<{$detail.mobile|default:''}>" class="input w-300"/></td></tr>
<tr><th>密码：</th><td><input type="text" name="data[passwd]" value="<{$detail.passwd|default:''}>" class="input w-300"/></td></tr>
<tr><th>余额：</th><td><input type="text" name="data[money]" value="<{$detail.money|default:''}>" class="input w-100"/></td></tr>
<tr><th>推广码：</th><td><input type="text" name="data[pmid]" value="<{$detail.pmid|default:''}>" class="input w-300"/><span class="tip-comment">推广码</span></td></tr>
<tr><th>推荐注册用户数：</th><td><input type="text" name="data[reg_count]" value="<{$detail.reg_count|default:''}>" class="input w-100"/><span class="tip-comment">推荐注册用户数</span></td></tr>
<tr><th>推荐后成功下单的会员数：</th><td><input type="text" name="data[order_count]" value="<{$detail.order_count|default:''}>" class="input w-100"/><span class="tip-comment">推荐后成功下单的会员数</span></td></tr>
<tr><th>名称：</th><td><input type="text" name="data[name]" value="<{$detail.name|default:''}>" class="input w-300"/></td></tr>
<tr><th>身份证号：</th><td><input type="text" name="data[id_number]" value="<{$detail.id_number|default:''}>" class="input w-300"/><span class="tip-comment">身份证号</span></td></tr>
<tr><th>身份证图片：</th><td><input type="text" name="data[id_photo]" value="<{$detail.id_photo}>" <{if $detail.id_photo}>photo="<{$pager.img}>/<{$detail.id_photo}>"<{/if}> class="input w-300" />&nbsp;&nbsp;&nbsp;<input type="file" name="data[id_photo]" class="input w-100" /><span class="tip-comment">身份证图片</span></td></tr>
<tr><th>开户行：</th><td><input type="text" name="data[account_type]" value="<{$detail.account_type|default:''}>" class="input w-300"/><span class="tip-comment">开户行</span></td></tr>
<tr><th>帐户名称：</th><td><input type="text" name="data[account_name]" value="<{$detail.account_name|default:''}>" class="input w-300"/><span class="tip-comment">帐户名称</span></td></tr>
<tr><th>提现帐号：</th><td><input type="text" name="data[account_number]" value="<{$detail.account_number|default:''}>" class="input w-300"/><span class="tip-comment">提现帐号</span></td></tr>
<tr>
	<th>是否审核：</th>
	<td>
		<label><input type="radio" name="data[audit]" <{if $detail.audit}>checked="checked"<{/if}> value="1"/>发布</label>&nbsp;&nbsp;
		<label><input type="radio" name="data[audit]" <{if empty($detail.audit)}>checked="checked"<{/if}> value="0"/>待审</label>
	</td>
</tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>

<{include file="admin:common/footer.html"}>