<{include file="admin:common/header.html"}>
<div class="page-data">	
	<form id="items-form">
    <table width="100%" border="0" cellspacing="0" class="table-data table left">
    <tr>
        <th>会员名(UID)</th>
        <th>手机</th>
        <th>余额</th>
        <th><{link ctl="member/member:so" arg0="dialog" arg1=$pager.multi arg2=$pager.from class="button" title="搜索" load="mini:搜索会员" width="mini:500"}></th>
    </tr>
    <{foreach $items as $item}>
    <tr>
		<td>		
		<label><input type="radio" name="itemId" value="<{$item.uid}>" data="{'itemId':'<{$item.uid}>','title':'<{$item.nickname}>'}" CK="PRI"/><{$item.nickname}>(UID:<{$item.uid}>)</label>
        </td>
		<td><{$item.mobile}></td>
        <td><{$item.money}></td>
		<td><{if $item.closed == '1'}>删除<{else}>正常<{/if}></td>
	</tr>
    <{foreachelse}>
     <tr><td colspan="20"><p class="text-align">没有数据</p></td></tr>
    <{/foreach}>
    </table>
	</form>
   
	<div class="page-bar">
		<table>
                     <{if $pager.pagebar }> 
			<tr>
                            <td class="page-list"><{$pager.pagebar}></td>
                        </tr>
                    <{/if}>   
		</table>
	</div>

</div>
<{include file="admin:common/footer.html"}>