<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="mall/order:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><table width="100%" border="0" cellspacing="0" class="table-data form">
<tr><th>订单ID：</th><td><{$detail.order_id}></td></tr>
<tr><th>用户ID：</th><td><{$detail.uid}></td></tr>
<tr><th>商品名称：</th><td><{$detail.product_name}></td></tr>
<tr><th>所需积分：</th><td><{$detail.product_jifen}></td></tr>
<tr><th>兑换数量：</th><td><{$detail.product_number}></td></tr>
<tr><th>兑换人：</th><td><{$detail.contact}></td></tr>
<tr><th>兑换人手机号：</th><td><{$detail.mobile}></td></tr>
<tr><th>兑换人地址：</th><td><{$detail.addr}></td></tr>
<tr><th>状态：</th><td><{if $detail.status==1}><span class="green" style="font-weight: bold;">已发货</span><{else}>未发货<{/if}></td></tr>
<tr><th>兑换人IP：</th><td><{$detail.clientip}></td></tr>
<tr><th>兑换时间：</th><td><{$detail.dateline}></td></tr>
</table></div>

<{include file="admin:common/footer.html"}>