@charset "utf-8";
.shangjia_list .pub_wz .tag_box .ico_6{ width:15px; height:15px; background:url(../images/ico.png) no-repeat -76px -36px; margin-right:4px;}
.cartFloat_bottom .ico{position: relative;}
.cartFloat_bottom .ico .cart_num{position: absolute; display: inline-block; right: -5px; top: -5px; background: red; color: #fff; font-size: 12px; text-align: center; line-height: 20px; width: 20px; height: 20px; border-radius: 10px;}
.cartFloat_bottom .pub_btn{ background:#fff; color:#00cdda;}
.cartFloat_bottom .btn:hover{color: none;}
.layui-layer-btn .layui-layer-btn0{border-color: #00cdda !important; background-color: #00cdda !important; }
.prslCenter_colct_list .tag_box .ico_6{ width:15px; height:15px; background:url(../images/ico.png) no-repeat -76px -36px; margin-right:4px;display:inline-block;font-size:0;vertical-align:middle;background-repeat:no-repeat;background-origin:content-box;}

.prslCenter_right_feedback .input_box{ width:100%; height:50px; border:none; padding:5px 0px;}
.prslCenter_right_feedback .input_box input{ width: 638px; height: 40px; margin: 5px 0px; line-height: 38px; border:1px solid #dedede; text-indent: 10px;}

.prslCenter_box .infor table tr td .uplod_img{ width:130px; height:130px; background:url(../images/prslCenter/upldimgBg2.png) no-repeat center; position:relative;}
.prslCenter_box .infor table tr td .uplod_img input{ width:100%; height:100%; position:absolute; left:0; top:0; opacity:0; filter:alpha(opacity=0); cursor:pointer;}

.prslCenter_idx_top .state{position: relative;}
.prslCenter_idx_top .state .app_2:hover .app_box{ display:block;}
.prslCenter_idx_top .state .app_box{ display:none; position:absolute; z-index:10; right:0; width:220px; top:0px; padding-top:8px;}
.prslCenter_idx_top .state .app_box .box{ background:#fff; box-shadow:0 1px 5px #999; padding:0px 20px 10px;}
.prslCenter_idx_top .state .app_box .box:before{ content:''; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #fff; position:absolute; top:2px; right:48px;}
.prslCenter_idx_top .state .app_box .box p{ font-size:16px; line-height:50px; text-align:center; color:#333;}
.prslCenter_idx_top .state .app_box .box img{ width:100%;}

.w120{width: 120px; display: inline-block;}
.w60{width: 60px; display: inline-block;}