<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="staff/log:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?staff/log-index.html" id="SO-form" method="post">
<table width="100%" border="0" cellspacing="0" class="table-data form">
    <tr>
        <th>服务人员：</th>
        <td>
            <input type="hidden" name="SO[staff_id]" value="" id="select_staff_staff_id_id" />
            <input type="text" value="" id="select_staff_staff_id_title" class="input w-100" readonly/>
            <{link ctl="staff/staff:dialog"  select="mini:#select_staff_staff_id_id,#select_staff_staff_id_title/N/选择配送员" title="选择配送员" class="button"}>
        </td>
    </tr>
    <tr><th>日志：</th><td><input type="text" name="SO[intro]" value="" class="input w-200"/></td></tr>
    <tr><th>时间：</th><td><input type="text" name="SO[dateline][0]" value="" class="input w-100" date="dateline" readonly/>~<input type="text" name="SO[dateline][1]" value="" class="input w-100" date="dateline" readonly/></td></tr>    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="搜 索" /></td></tr>
</table>
</form></div>

<{include file="admin:common/footer.html"}>