<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="staff/staff:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><table width="100%" border="0" cellspacing="0" class="table-data form">
<tr><th>ID：</th><td><{$detail.staff_id}></td></tr>
<tr><th>姓名：</th><td><{$detail.name}></td></tr>
<tr><th>手机号：</th><td><{$detail.mobile}></td></tr>
<tr><th>密码：</th><td><{$detail.passwd}></td></tr>
<tr><th>头像：</th><td><img src="<{$pager.img}>/<{$detail.face}>" class="wh-200" /></td></tr>
<tr><th>接单数：</th><td><{$detail.orders}></td></tr>
<tr><th>帐户余额：</th><td><{$detail.money}></td></tr>
<tr><th>总评分：</th><td><{$detail.credits}></td></tr>
<tr><th>评论数：</th><td><{$detail.comments}></td></tr>
<tr><th>好评数：</th><td><{$detail.haoping}></td></tr>
<tr><th>差评数：</th><td><{$detail.chaping}></td></tr>
<tr><th>中评数：</th><td><{$detail.zhongping}></td></tr>
<tr><th>审核：</th><td><{$detail.audit}></td></tr>
<tr><th>登录IP：</th><td><{$detail.loginip}></td></tr>
<tr><th>登录时间：</th><td><{$detail.lastlogin}></td></tr>
<tr><th>注册IP：</th><td><{$detail.clientip}></td></tr>
<tr><th>注册时间：</th><td><{$detail.dateline|format}></td></tr>
</table></div>

<{include file="admin:common/footer.html"}>