<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> 商家管理中心-<{$sitename}></title>
<meta name="Keywords" content="<{$keywords}>" />
<meta name="description" content="<{$description}>" />
<link rel="stylesheet" type="text/css" href="<{$siteurl}>/templates/<{$tempdir}>/public/shopcenter/css/commom.css" />
<link rel="stylesheet" type="text/css" href="<{$siteurl}>/templates/<{$tempdir}>/public/shopcenter/css/shangjiaAdmin.css" />
<{block name=extendcss}><{/block}>
<script src="<{$siteurl}>/templates/<{$tempdir}>/public/js/jquerynew.js" type="text/javascript" language="javascript"></script>
<script src="<{$siteurl}>/templates/<{$tempdir}>/public/js/allj.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript" language="javascript" src="<{$siteurl}>/templates/<{$tempdir}>/public/js/artdialog/artDialog.js?skin=blue"></script>
<{block name=extendjs}><{/block}>
<script>
	var siteurl = "<{$siteurl}>";
</script>
<!--[if lte IE 6]>
<script src="<{$siteurl}>/templates/<{$tempdir}>/public/js/DD_belatedPNG_0.0.8a.js" type="text/javascript"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('div, ul, img, li, input , a');
        $('#footer').css('display','none');
    </script>
<![endif]-->
</head>
<body >
<{load_data assign="shopinfo" table="shop" where="`id`=<{$adminshopid}>"  type="one"}>
<!-- <div style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: -1;background:url('<{$siteurl}>/templates/<{$tempdir}>/public/images/shoplogin_bg.jpg') no-repeat center/cover;"></div> -->
<!---header start--->
	<div class="header">
    	<div class="top">
        	<div class="topLeft fl">
            	<ul>
                    <li>今日营业额：<{$todayshopcost}>元</li>
                    <li>总营业额：<{$allshopcost}>元</li>

                </ul>
                 <div class="cl"></div>
            </div>
            <div class="topRight fr">


                    <span class="username curbtn" onclick="openlink('<{ofunc type=url link="/member/loginout"}>');">退出</span>


            </div>
            <div class="cl"></div>


            <div class="shangjiaTop">
            	<div class="sjgl">

                </div>

            </div>
        </div>

    </div>
    <!---header end--->

 <!------以上是公共的头部部分------->

  <!---content start--->
	<div class="content">
   	 	<!---content left start--->
		<div class="conleft content_left fl" >
        	<div class="nav">
            	<ul>
                	<li onclick="openlink('<{ofunc type=url link="/shopcenter/useredit"}>');" data="baseset"><div class="navimg"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/shopcenter/images/dpsz.png" /></div>
					<a href="<{ofunc type=url link="/shopcenter/useredit"}>">店铺设置</a></li>
                    <li onclick="openlink('<{if empty($shopinfo['shoptype'])}><{ofunc type=url link="/shopcenter/goodslist"}><{else}><{ofunc type=url link="/shopcenter/marketgoodslist"}><{/if}>');" data="basemenu"><div class="navimg"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/shopcenter/images/cdgl.png" /></div><a href="<{if empty($shopinfo['shoptype'])}><{ofunc type=url link="/shopcenter/goodslist"}><{else}><{ofunc type=url link="/shopcenter/marketgoodslist"}><{/if}>">菜单管理</a></li>
                    <li onclick="openlink('<{ofunc type=url link="/shopcenter/shoporderlist"}>');" data="baseorder"><div class="navimg"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/shopcenter/images/ddgl.png" /></div>
					<a href="<{ofunc type=url link="/shopcenter/shoporderlist"}>">订单管理</a></li>
                    <li onclick="openlink('<{ofunc type=url link="/shopcenter/shoptotal"}>');" data="baseordertj"><div class="navimg"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/shopcenter/images/ddtj.png" /></div>
					<a href="<{ofunc type=url link="/shopcenter/shoptotal"}>">订单统计</a></li>
                     <li onclick="openlink('<{ofunc type=url link="/shopcenter/txlog"}>');" data="baseorderjl"><div class="navimg"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/shopcenter/images/ddtj.png" /></div>
                    <a href="<{ofunc type=url link="/shopcenter/txlog"}>">金额记录</a></li>
                     <li onclick="openlink('<{ofunc type=url link="/shopcenter/shopjs"}>');" data="baseorderjs"><div class="navimg"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/shopcenter/images/ddtj.png" /></div>
                    <a href="<{ofunc type=url link="/shopcenter/shopjs"}>">结算记录</a></li>






					<li onclick="openlink('<{ofunc type=url link="/shopcenter/cxrule"}>');"  data="basecx"><div class="navimg"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/shopcenter/images/xxgz.png" /></div>
					<a href="<{ofunc type=url link="/shopcenter/cxrule"}>">促销规则</a></li>
                    <li onclick="openlink('<{ofunc type=url link="/shopcenter/shoptx"}>');"  data="basetx"><div class="navimg"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/shopcenter/images/dianpujieshao.png" /></div>
                    <a href="<{ofunc type=url link="/shopcenter/shoptx"}>">提现</a></li>




                </ul>

            </div>
        </div>
       <!---content left end--->





           <{block name=bodylist}><{/block}>







       </div>




<!------以下是公共的底部部分------->

    <div class="footer">

        <div class="foot2">
        	<p>@2018-2018 <{$sitename}> <{$beian}> <{$footerdata|stripslashes}></p>
        </div>
    </div>

 <script>

				$(function(){

			  	if("undefined" != typeof mynomenu){
					   var allobj = $('.nav').find('li');
					  $.each(allobj, function(i, newobj) {
					  	if($(this).attr('data') == mynomenu){
					  	   $(this).addClass('on');
					  	 }
					  	//alert($(this).attr('data'));

					  });
				 	}
					$(".nav ul li").click(function(){
					    	$(this).addClass('on').siblings().removeClass('on');

					});
				});
				function openlink(newlinkes){
					window.location.href=newlinkes;
				}
</script>

</body>
</html>
