<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui"><meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <meta content="telephone=no" name="format-detection" />
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- UC禁止放大字体 -->
  <meta name="wap-font-scale" content="no">
  <title><{block name=sitetitle}>筷叫餐<{/block}></title>
  <meta name="Keywords" content="" />
  <meta name="Description" content="" />
  <link rel="apple-touch-icon-precomposed" href="./icon.png" />
  <link rel="shortcut icon" href="./icon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/css/reset.css">
  <link rel="stylesheet" type="text/css" href="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/css/public.css">
  <link rel="stylesheet" type="text/css" href="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/css/weui.min.css">
  <link rel="stylesheet" type="text/css" href="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/css/index.css">
  <link href="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/css/swiper.min.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/js/jquery.min.js"></script>
  <script type="text/javascript" src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/js/weui.min.js"></script>
  <script type="text/javascript" src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/js/config.js"></script>
  <script type="text/javascript" src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/js/controller.js"></script>
  <script src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/js/swiper.min.js"></script>
  <!-- wx -->
  <script type="text/javascript" src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/js/jweixin-1.2.0.js"></script>
   <script type="text/javascript" src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/js/common.js"></script>
   <script type="text/javascript" src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/kjc/js/public.js"></script>
  <{block name=extendcss}><{/block}>
  <{block name=extendjs}><{/block}>
  <script>
	var siteurl = "<{$siteurl}>";
	var is_static ="<{$is_static}>";
	var taction = "<{$Taction}>";
	var https = '<{$https|default:''}>';
    var lat = '<{$lat|default:0}>';
    var lng = '<{$lng|default:0}>';
	// if ( taction != 'member' &&  taction != 'login' &&  taction != 'reg'  ){
	// 	var cururl = window.location.href;
	// 	$.cookie('wxCurUrl', cururl);
	// }

  </script>
</head>

<body ontouchstart>
  <{block name=blockcontent}>
  <{/block}>
  <{block name=footer}>
  <footer>
    <ul>
      <li <{if $Taction == 'index'}>class="active" <{/if}>><a href="<{ofunc type=url link="/wxsite/index"}>">首页</a></li>
      <li <{if $Taction == 'order'}>class="active" <{/if}>><a href="<{ofunc type=url link="/wxsite/order"}>">订单</a></li>
      <li <{if $Taction == 'member'}>class="active" <{/if}>><a href="<{ofunc type=url link="/wxsite/member"}>">我的</a></li>
    </ul>
  </footer>
  <{/block}>
</body>
</html>
<{block name=end_script}>
<{/block}>
