
			<div class="hc_login_content">
					<div class="findPassWordDiv">
						<div style="float:left;margin-right: 10px;">
							<p style="padding-bottom:30px;"><span class="hc_login_div_span">错误提示信息：</span> <font style="color:#000000"><{$msg}></font></p>
							<p class="tip" style="margin-left:50px;"><a href="<{$errorlink}>">返回上一页</a>  <span style="margin-left:100px;"><a href="<{$siteurl}>">返回首页</a></span></p>
						</div>

						<div class="clear"></div>
					</div>
				<div class="clear"></div>
		</div>
