<{extends file="<{$tempdir}>/public/shopcenter.html"}>
<{block name=extendjs}>
<script src="<{$siteurl}>/templates/<{$tempdir}>/public/js/jquery.PrintArea.js" type="text/javascript" language="javascript"></script>
<script src="<{$siteurl}>/templates/<{$tempdir}>/public/js/datepicker/WdatePicker.js" type="text/javascript" language="javascript"></script>
<script src="<{$siteurl}>/templates/<{$tempdir}>/public/js/artdialog/plugins/iframeTools.js" type="text/javascript" language="javascript"></script>
  <script>
   var mynomenu='basetx';
   </script>
<{/block}>
<{block name=bodylist}>
提现金额：<input type="text" name="cost">
<{/block}>
