<{extends file="<{$tempdir}>/public/shopcenter.html"}>
<{block name=extendjs}>
<script src="<{$siteurl}>/templates/<{$tempdir}>/public/js/jquery.PrintArea.js" type="text/javascript" language="javascript"></script>
<script src="<{$siteurl}>/templates/<{$tempdir}>/public/js/datepicker/WdatePicker.js" type="text/javascript" language="javascript"></script>
<script src="<{$siteurl}>/templates/<{$tempdir}>/public/js/artdialog/plugins/iframeTools.js" type="text/javascript" language="javascript"></script>
  <script>
   var mynomenu='basetx';
   </script>
<{/block}>
<{block name=bodylist}>
	<div class="conWaiSet">
    	<div class="shopSetTop"> <span>提现</span>  
		<div class="shoptx_info">
			<div class="shoptx_acc">
				<div class="shoptx_info_item">
					<p>账户类型：支付宝</p>
					<p>账户名称：杨嘉城</p>
					<p>提现账户：15920541739</p>
				</div>
				<!-- <div class="shoptx_info_item">
					<p>账户类型：中国银行</p>
					<p>账户名称：杨嘉城</p>
					<p>提现账户：445222222222222222222222222222</p>
				</div> -->
			</div>
			<div class="shoptx_money">
				<p>可提现额度：55元</p>
			</div>
			<div class="shoptx_form">
				<form action="">
					<input type="text" name="" placeholder="输入提现金额" />
					<input type="submit" name="" value="申请提现" />
				</form>
			</div>
			<div class="shoptx_des">
				注：提现成功后，将在3个工作日内打款至对应账户，如有任何疑问，请及时联系我们
			</div>
		</div>
		

	</div>
	
<{/block}>
