<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="shop/verify:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?shop/verify-edit.html" mini-form="verify-form" method="post" ENCTYPE="multipart/form-data">
<table width="100%" border="0" cellspacing="0" class="table-data form">
<input type="hidden" name="shop_id" value="<{$detail.shop_id}>"/>
<tr><th>店主姓名：</th><td><input type="text" name="data[id_name]" value="<{$detail.id_name|default:''}>" class="input w-300"/><span class="tip-comment">店主姓名</span></td></tr>
<tr><th>店主身份证号：</th><td><input type="text" name="data[id_number]" value="<{$detail.id_number|default:''}>" class="input w-300"/><span class="tip-comment">店主身份证号</span></td></tr>
<tr><th>店主身份证图：</th><td><input type="text" name="data[id_photo]" value="<{$detail.id_photo}>" <{if $detail.id_photo}>photo="<{$pager.img}>/<{$detail.id_photo}>"<{/if}> class="input w-300" />&nbsp;&nbsp;&nbsp;<input type="file" name="data[id_photo]" class="input w-100" /><span class="tip-comment">店主身份证图</span></td></tr>
<tr><th>商铺实景图：</th><td><input type="text" name="data[shop_photo]" value="<{$detail.shop_photo}>" <{if $detail.shop_photo}>photo="<{$pager.img}>/<{$detail.shop_photo}>"<{/if}> class="input w-300" />&nbsp;&nbsp;&nbsp;<input type="file" name="data[shop_photo]" class="input w-100" /><span class="tip-comment">商铺实景图</span></td></tr>
<tr><th>认证状态：</th><td><input type="text" name="data[verify_dianzhu]" value="<{$detail.verify_dianzhu|default:''}>" class="input w-100"/><span class="tip-comment">店主验证: 0:待审核，1:审核通过, 2:审核失败</span></td></tr>
<tr><th>营业执照号：</th><td><input type="text" name="data[yz_number]" value="<{$detail.yz_number|default:''}>" class="input w-300"/><span class="tip-comment">营业执照号</span></td></tr>
<tr><th>营业执照图：</th><td><input type="text" name="data[yz_photo]" value="<{$detail.yz_photo}>" <{if $detail.yz_photo}>photo="<{$pager.img}>/<{$detail.yz_photo}>"<{/if}> class="input w-300" />&nbsp;&nbsp;&nbsp;<input type="file" name="data[yz_photo]" class="input w-100" /><span class="tip-comment">营业执照图</span></td></tr>
<tr><th>营业执照验证状态：</th><td><input type="text" name="data[verify_yyzz]" value="<{$detail.verify_yyzz|default:''}>" class="input w-100"/><span class="tip-comment">营业执照验证: 0:待审核，1:审核通过, 2:审核失败</span></td></tr>
<tr><th>餐饮执照号：</th><td><input type="text" name="data[cy_number]" value="<{$detail.cy_number|default:''}>" class="input w-300"/><span class="tip-comment">餐饮执照号</span></td></tr>
<tr><th>餐饮执照图：</th><td><input type="text" name="data[cy_photo]" value="<{$detail.cy_photo}>" <{if $detail.cy_photo}>photo="<{$pager.img}>/<{$detail.cy_photo}>"<{/if}> class="input w-300" />&nbsp;&nbsp;&nbsp;<input type="file" name="data[cy_photo]" class="input w-100" /><span class="tip-comment">餐饮执照图</span></td></tr>
<tr><th>餐饮验证状态：</th><td><input type="text" name="data[verify_cy]" value="<{$detail.verify_cy|default:''}>" class="input w-100"/><span class="tip-comment">餐饮验证: 0:待审核，1:审核通过, 2:审核失败</span></td></tr>
<tr><th>拒绝原因：</th><td><textarea name="data[refuse]" class="textarea"><{$detail.refuse}></textarea><br /><span class="tip-comment">拒绝原因</span></td></tr>
<tr><th>审核状态：</th><td><input type="text" name="data[verify]" value="<{$detail.verify|default:''}>" class="input w-100"/><span class="tip-comment">审核状态   0:待审核，1:审核通过, 2:审核失败</span></td></tr>
<tr><th>审核时间：</th><td><input type="text" name="data[verify_time]" value="<{$detail.verify_time|default:''}>" class="input w-300"/><span class="tip-comment">审核时间</span></td></tr>
<tr><th>申请时间：</th><td><input type="text" name="data[updatetime]" value="<{$detail.updatetime|default:''}>" class="input w-300"/><span class="tip-comment">申请时间</span></td></tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>

<{include file="admin:common/footer.html"}>