<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="staff/verify:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?staff/verify-edit.html" mini-form="verify-form" method="post" ENCTYPE="multipart/form-data">
<table width="100%" border="0" cellspacing="0" class="table-data form">
<input type="hidden" name="staff_id" value="<{$detail.staff_id}>"/>
<tr><th><span class="red">*</span>真实姓名：</th><td><input type="text" name="data[id_name]" value="<{$detail.id_name|default:'#default#'}>" class="input w-300"/></td></tr>
<tr><th><span class="red">*</span>身份证号：</th><td><input type="text" name="data[id_number]" value="<{$detail.id_number|default:'#default#'}>" class="input w-300"/></td></tr>
<tr><th><span class="red">*</span>身份证图：</th><td><input type="text" name="data[id_photo]" value="<{$detail.id_photo}>" <{if $detail.id_photo}>photo="<{$pager.img}>/<{$detail.id_photo}>"<{/if}> class="input w-300" />&nbsp;&nbsp;&nbsp;<input type="file" name="data[id_photo]" class="input w-100" /></td></tr>
<tr><th>状态：</th><td><input type="text" name="data[verify]" value="<{$detail.verify|default:'#default#'}>" class="input w-100"/></td></tr>
<tr><th>认证时间：</th><td><input type="text" name="data[verify_time]" value="<{$detail.verify_time|default:'#default#'}>" class="input w-300"/></td></tr>
<tr><th>拒绝原因：</th><td><input type="text" name="data[refuse]" value="<{$detail.refuse|default:'#default#'}>" class="input w-300"/></td></tr>
<tr><th>申请时间：</th><td><input type="text" name="data[updatetime]" value="<{$detail.updatetime|default:'#default#'}>" class="input w-300"/></td></tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>

<{include file="admin:common/footer.html"}>