<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?system/config-invite.html" mini-form="config-form" method="post" >
<input type="hidden" name="K" value="invite" />
<table width="100%" border="0" cellspacing="0" class="table-data form">
    <tr><th>注册奖励：</th><td><input type="text" name="config[invite_reg_money]" value="<{$config.invite_reg_money|default:'10'}>" class="input w-100"/><span class="tip-comment">被邀请人注册账号后奖励给邀请人</span></td></tr>
<tr><th>首单奖励：</th><td><input type="text" name="config[invite_order_money]" value="<{$config.invite_order_money|default:'10'}>" class="input w-100"/><span class="tip-comment">被邀请人首次下单后奖励给邀请人</span></td></tr>
<tr><th>红包金额：</th><td><input type="text" name="config[hongbao_amount]" value="<{$config.hongbao_amount|default:'10'}>" class="input w-100"/><span class="tip-comment">红包奖励给被邀请人</span></td></tr>
<tr><th>最低消费：</th><td><input type="text" name="config[hongbao_min_amount]" value="<{$config.hongbao_min_amount|default:'20'}>" class="input w-100"/></td></tr>
<tr><th>分享图片：</th>
    <td>
        <input type="hidden" name="config[share_photo]" value="<{$config.share_photo}>" />
        <input type="file" name="config[share_photo]" class="input w-300" style="vertical-align:middle;display:inline;"/>
        <{if $config.share_photo}><img src="<{$pager.img}>/<{$config.share_photo}>" photo="<{$pager.img}>/<{$config.share_photo}>" class="wh-30" style="vertical-align:middle;display:inline;"/><{/if}>
    </td>
</tr>
<tr><th>分享说明：</th><td><input type="text" name="config[share_title]" value="<{$config.share_title}>" class="input w-500"/></td></tr>
<tr><th>活动说明：</th><td><textarea name="config[intro]" class="textarea"><{$config.intro}></textarea><br /></td></tr>
<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>

<{include file="admin:common/footer.html"}>