<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?system/config-wechat.html" mini-form="config-form" method="post" >
<input type="hidden" name="K" value="wechat" />
<table width="100%" border="0" cellspacing="0" class="table-data form">
<tr><th>公众号类型：</th>
    <td>
        <label><input type="radio" value="0" <{if empty($config.type)}>checked="checked"<{/if}>name="config[type]">订阅号</label>
        <label><input type="radio" value="1" <{if $config.type}>checked="checked"<{/if}> name="config[type]">服务号</label>&nbsp;&nbsp;
        
    </td>
</tr>
<tr><th>公众号APPID：</th>
    <td><input type="text" name="config[appid]" value="<{$config.appid}>" class="input w-300"/></td>
</tr>
<tr><th>公众号APPSecret：</th>
    <td><input type="text" name="config[appsecret]" value="<{$config.appsecret}>" class="input w-300"/></td>
</tr>
<th>微信Token：</th><td><input type="text" name="config[wechat_token]" value="<{$config.wechat_token|default:md5(__CFG::SECRET_KEY|cat:__CFG::Authorize)}>" class="input w-300"/><span class="tip-comment"><a href=""微信接口Token,全站统一Token</span></td></tr>
<th>微信EncodingAESKey：</th><td><input type="text" name="config[wechat_aeskey]" value="<{$config.wechat_aeskey}>" class="input w-300"/><span class="tip-comment"><a href=""微信接口Token,全站统一Token</span></td></tr>
<tr><th>APP应用ID：</th>
    <td>
        <input type="text" name="config[app_appid]" value="<{$config.app_appid}>" class="input w-300"/>
        <span class="tip-comment">微信开放平台申请获得，<a href="https://open.weixin.qq.com/" target="_blank">立即申请</a></span>
    </td>
</tr>
<tr><th>APP应用Secret：</th>
    <td>
        <input type="text" name="config[app_appsecret]" value="<{$config.app_appsecret}>" class="input w-300"/>
        <span class="tip-comment">微信开放平台申请获得，<a href="https://open.weixin.qq.com/" target="_blank">立即申请</a></span>
    </td>
</tr>
<tr><th>公众号应用ID：</th>
    <td>
        <input type="text" name="config[open_mp_appid]" value="<{$config.open_mp_appid}>" class="input w-300"/>
        <span class="tip-comment">公众号第三方平台AppId, 微信开放平台申请获得，<a href="https://open.weixin.qq.com/" target="_blank">立即申请</a></span>
    </td>
</tr>
<tr><th>公众号应用Secret：</th>
    <td>
        <input type="text" name="config[open_mp_appsecret]" value="<{$config.open_mp_appsecret}>" class="input w-300"/>
        <span class="tip-comment">公众号第三方平台AppSecret, 微信开放平台申请获得，<a href="https://open.weixin.qq.com/" target="_blank">立即申请</a></span>
    </td>
</tr>
<th>公众号应用Token：</th><td><input type="text" name="config[open_mp_token]" value="<{$config.open_mp_token|default:md5(__CFG::SECRET_KEY|cat:__CFG::Authorize)}>" class="input w-300"/><span class="tip-comment"><a href=""微信接口Token,全站统一Token</span></td></tr>
<th>公众号应用AESKey：</th><td><input type="text" name="config[open_mp_aeskey]" value="<{$config.open_mp_aeskey}>" class="input w-300"/><span class="tip-comment"><a href=""微信接口Token,全站统一Token</span></td></tr>

<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>

<{include file="admin:common/footer.html"}>