<!DOCTYPE HTML>
<html>
    <head>
        <{include file="block/sheader.html"}>
    </head>
    <body>
        <header>
            <i class="left"><a href="<{link ctl='city'}>"  link-load="" class="this_city"></a></i>
            <div class="title">
                <a href="<{link ctl='position'}>"  link-load="" class="shangquan shangquan_add"><em class="addrIco"></em><span id="position"><{L('定位中')}></span><em class="downIco"></em></a>
            </div>
            <i class="right"><a class="searchIco" href="<{link ctl='search'}>"  link-load="" ></a></i>
        </header>
        <section class="page_center_box">
            <div class="banner">
                <div class="flexslider">
                    <ul class="slides"><{adv id="1" name="<{L('首页轮播')}>"}></ul>
                </div>
            </div>
            <div class="menuCate mb10">
                <ul>
                    <{foreach $cate_tree as $k=>$v}>
                    <{if $v@index<7}>
                    <li><a href="<{link ctl='shop/index' cate_id=$v.cate_id}>" link-load="" ><i style="background:url(<{$pager.img}>/<{$v.icon}>) no-repeat center top;background-size:100% auto;"></i><p><{$v.title}></p></a></li>
                    <{/if}>
                    <{/foreach}>
                    <li><a href="<{link ctl='shop/index' page=1}>"  link-load="" ><i style="background:url(%THEME%/static/images/menuIco08.png) no-repeat center top;background-size:100% auto;"></i><p><{L('更多')}></p></a></li>
                </ul>
            </div>
            <div>
                <div class="downOption">
                    <ul>
                        <li class="list"><{L('分类')}><em></em></li>
                        <li class="list"><{L('排序')}><em></em></li>
                        <li class="list"><{L('筛选')}><em></em></li>
                    </ul>
                    <div class="clear"></div>
                    <div class="downOption_pull" style="margin-top:0.05rem;">
                        <div class="list_box">
                            <ul id='cate'>
                                <li val="0"><a href="javascript:allcate();"><{L('全部分类')}></a></li>
                                <{foreach $cate_tree as $k=>$v}>
                                <{if !$v.parent_id && $v.children}>
                                <li val="<{$v.cate_id}>" <{if $v@index == 0}>class="on"<{/if}>><a href="javascript:void(0);"><{$v.title}></a><span class="after"></span></li>
                                <{elseif !$v.parent_id}>
                                <li val="<{$v.cate_id}>" <{if $v@index == 0}>class="on"<{/if}>><a href="javascript:void(0);"><{$v.title}></a></li>
                                <{/if}>
                                <{/foreach}>
                            </ul>
                            <div class="saixuan_fenlei_list_box" style="display:none;">    
                                <{foreach $cate_tree as $item}>
                                <{if $item.children}>         
                                <ul class="saixuan_fenlei_list_nr" id="a<{$item.cate_id}>">
                                    <li class="saixuan_fenlei_list"><a href="javascript:;" <{if !$pager.cate_id}>class="on" <{/if}>cate_id="0" cat_id="0" data="" ><{L('全部')}></a></li>  
                                    <{foreach $item.children as $child}>
                                        <{if $child.parent_id == $item.cate_id}>
                                        <li class="saixuan_fenlei_list">
                                            <a href="javascript:;" <{if $pager.cate_id==$item.cate_id}>class="on" <{/if}>cate_id="<{$child.cate_id}>" cat_id="<{$child.parent_id}>" >
                                                <{$child.title}>
                                            </a>
                                        </li>
                                        <{/if}>
                                    <{/foreach}>
                                </ul>
                                <{/if}>
                                <{/foreach}>
                            </div>
                        </div>
                        <div class="list_box">
                            <ul id='sort'>
                                <li><a href="<{link ctl='shop/index'}>" link-load=""><{L('默认排序')}></a></li>
                                <li><a href="<{link ctl='shop/index' order='time'}>" link-load=""><{L('送餐最快')}></a></li>
                                <li><a href="<{link ctl='shop/index' order='juli'}>" link-load=""><{L('距离最近')}></a></li>
                                <li><a href="<{link ctl='shop/index' order='sales'}>" link-load=""><{L('销量最好')}></a></li>
                                <li><a href="<{link ctl='shop/index' order='score'}>" link-load=""><{L('评价最好')}></a></li>
                                <li><a href="<{link ctl='shop/index' order='price'}>" link-load=""><{L('起送价最低')}></a></li>
                            </ul>
                        </div>
                        <div class="list_box">
                            <form action="<{link ctl='shop/index'}>" method="get">
                                <ul class="shaixuan_pull">
                                    <li><{L('配送方式')}><div class="fr peisong_way"><label rel='0'><{L('不限')}></label> <label rel='1'><{L('平台送')}></label> <label rel='2'><{L('商家送')}></label></div></li>
                                    <li><{L('在线支付')}><div class="fr"><label class="tab_int" id='tb1'><input type="button" name='online_pay' id='online_pay' ></label></div></li>
                                    <li><{L('新店开业')}><div class="fr"><label class="tab_int" id='tb2'><input type="button" name='is_new' id='is_new' ></label></div></li>
                                    <li><{L('首单优惠')}><div class="fr"><label class="tab_int" id='tb3'><input type="button" name='youhui_first' id='youhui_first' ></label></div></li>
                                    <li><{L('下单立减')}><div class="fr"><label class="tab_int" id='tb4'><input type="button" name='youhui_order' id='youhui_order' ></label></div></li>
                                    <input type='hidden' name='pei_type' id='pei_type'>
                                    <li class="btn_box"><input type="button" class="btn cancel" value="<{L('取消')}>"><input type="submit" class="btn confirm" value="<{L('确定')}>"></li>
                                </ul>
                            </form>
                        </div>
                        <div class="mask_bg"></div>
                    </div>
                </div>
                <div class="waimaiList" id="wrapper" style="position:relative;">
                    <ul></ul>
                </div>
            </div>
        </section>
        <span style="display:none;" id="allmap"></span>
        <{include file="block/sfooter.html"}>
<script id="tmpl_shop_item" type="text/x-jquery-tmpl">
    <li class="list">
    <div class="img fl"><a href="${url}" link-load="" ><img src="<{$pager.img}>/${logo}" width="100" height="100" /></a></div>
    <div class="wz">
        <div class="nr1">
            <div class="fl">
                <a href="${url}" link-load="">
                    <p class="bt overflow_clear">${title}</p>
                    <div><span class="starBg"><span class="star" style="width:${score*100}%;"></span></span></div>
                    <p class="black6"><{sprintf(L('已售%s份'), '${orders}')}></p>
                </a>
            </div>
            <div class="fr">
                <p class="black3"><span class="fontcl1">￥<b>${min_amount}</b></span><{L('起送')}></p>
                <p class="black3">{{if freight == 0}}<{L('免配送费')}>{{else}}<span class="fontcl1">￥${freight}</span><{L('配送费')}>{{/if}}</p>
                <p class="black6">${formatDistance(juli)}</p>
            </div>
        </div>
        <div class="nr2">
            {{if first_amount>0}}
            <p class="black9"><em style="background:#46c3ff;">首</em>${first_amount_title}</p>
            {{/if}}
            {{if youhui_title}}
            <p class="black9"><em style="background:#ff6900;">减</em>${youhui_title}</p>
            {{/if}}
            {{if online_pay == 1}}
            <p class="black9"><em style="background:#f57f8c;">付</em><{L('支持在线支付')}></p>
            {{/if}}
        </div>
    </div>
</li>
</script>
<script>
function ask_demo_uxlocation(){
    /*layer.open({
        //title : "切换地址",
        content: '为了更好的体验程序功能，建议您切换地址为【合肥.华润五彩国际】？',
        btn: ['立即切换', '任性继续'],
        shadeClose: false,
        yes: function(){
            var demo_uxlocation = {"lng":"117.257186","lat":"31.835828","addr":"华润五彩国际"};
            setUxLocation(demo_uxlocation);
            Cookie.set("UxCityId", 1);
            Cookie.set("UxCity", '合肥');
            localStorage["UxCity"] = "合肥";
            localStorage["UxCityId"] = 1;
            Cookie.set("ask_deme_uxlocation", 1);
            window.location = 'index.html';
            //layer.open({content: '你点了确认', time: 1});
        }, no: function(){
            Cookie.set("ask_deme_uxlocation", 1);
            window.location = 'index.html';
            //layer.open({content: '你选择了取消', time: 1});
        }
    });*/
}
$(document).ready(function () {
    var now_city_name = localStorage["UxCity"];
    $('.this_city').text(now_city_name);
    $('#position').text()=="<{L('定位中')}>";
	if(false && Cookie.get("ask_deme_uxlocation")!=1){
        ask_demo_uxlocation();
    }else{
        var LocTimer = setTimeout(function(){
            alert("<{L('获取不到你的地址')}>");
            window.location.href = "<{link ctl='position'}>";
        }, 8000);
    	getUxLocation(function(ret){
            clearTimeout(LocTimer);
            if(ret.error){
                alert(ret.message);
                window.location.href = "<{link ctl='position'}>";
            }else{
                $('#position').text(ret.addr);
                loadPageItem();
            }
        });
    }
    $('#cate li').click(function(){
        var val = $(this).attr('val');
        $('.saixuan_fenlei_list_box').show();
        $(this).parent().find(".saixuan_pull_child").removeClass("on");
        $(this).addClass("on");
        $('.saixuan_fenlei_list_nr').hide();
        if($('#a' + val).length == 0) {
            // 没有子分类 直接加载列表
            var ce = val;
            var c = 0;
            var link = '<{link ctl="shop/index" cate_id="__cate_id" cat_id="__cat_id" }>';
            window.location.href=link.replace('__cate_id',ce).replace('__cat_id',c);
        }else {
            // 有子分类显示子分类列表
            $('#a' + val).show();
        }
        
    })

    if($('#cate li').hasClass('on')) {
        var vcate = $('#cate li.on').attr('val');
        $('.saixuan_fenlei_list_box').show();
        $(this).parent().find(".saixuan_pull_child").removeClass("on");
        $(this).addClass("on");
        $('.saixuan_fenlei_list_nr').hide();
        $('#a' + vcate).show();
    }


    $('.saixuan_fenlei_list_nr li a').click(function(){
        var ce = $(this).attr('cate_id');
        var c = $(this).attr('cat_id');
        var link = '<{link ctl="shop/index" cate_id="__cate_id" cat_id="__cat_id" }>';
        window.location.href=link.replace('__cate_id',ce).replace('__cat_id',c);
    })
    $('.flexslider').flexslider({
        directionNav: true,
        pauseOnAction: false,
    });//首页轮播js结束
    /*头部下来分类开始*/
    $(".downOption ul .list").each(function (e) {
        $(this).click(function () {
            if ($(this).hasClass("on")) {
                $(this).parent().find(".list").removeClass("on");
                $(this).removeClass("on");
                $(".mask_bg").hide();
                $(".downOption .downOption_pull").hide();
            }
            else {
                $(this).parent().find(".list").removeClass("on");
                $(this).addClass("on");
                $(".mask_bg").show();
                $(".downOption .downOption_pull").show();
            }
            $(".downOption .downOption_pull .list_box").each(function (i) {
                if (e == i) {
                    $(this).parent().find(".list_box").hide();
                    $(this).show();
                }
                else {
                    $(this).hide();
                }
                $(this).find("li").click(function () {
                    $(this).parent().find("li").removeClass("on");
                    $(this).addClass("on");
                });
            });
        });
    });
    $('.cancel').click(function(){
        $('.list_box').hide();
        $('.mask_bg').hide();
    })
    /*头部下来分类结束*/
    $(".peisong_way label").click(function () {
        $(this).parent().find("label").removeClass("on");
        $(this).addClass("on");
        var rel = $(this).attr('rel');
        $('#pei_type').val(rel);
    });
    $("#tb1").click(function () {
        if ($(this).hasClass("on")) {
            $('#online_pay').val(0);
            $(this).removeClass("on");
        }
        else {
            $('#online_pay').val(1);
            $(this).addClass("on");
        }
    });
    $("#tb2").click(function () {
        if ($(this).hasClass("on")) {
            $('#is_new').val(0);
            $(this).removeClass("on");
        }
        else {
            $('#is_new').val(1);
            $(this).addClass("on");
        }
    });
    $("#tb3").click(function () {
        if ($(this).hasClass("on")) {
            $('#youhui_first').val(0);
            $(this).removeClass("on");
        }
        else {
            $('#youhui_first').val(1);
            $(this).addClass("on");
        }
    });
    $("#tb4").click(function () {
        if ($(this).hasClass("on")) {
            $('#youhui_order').val(0);
            $(this).removeClass("on");
        }
        else {
            $('#youhui_order').val(1);
            $(this).addClass("on");
        }
    });
});
function loadPageItem(params){
    if(LoadData.LOCK || LoadData.LOAD_END){
        return false;
    }
    LoadData.LOCK = true;
    params = params || {};
    LoadData.params = $.extend(LoadData.params, params);
    Widget.MsgBox.load('<{L("loading")}>');
    $.post("<{link ctl='shop:loaditems'}>", LoadData.params, function(ret){
        if(ret.error){
            Widget.MsgBox.error(ret.message);
        }else{
            if(ret.data.items.length > 0){
                $('#tmpl_shop_item').tmpl(ret.data.items).appendTo($("#wrapper ul"));
            }else if(LoadData.params.page > 1){
                if(! $(".loading_end").length) {
                    $('#wrapper ul').append('<div class="loading_end"><{L('没有更多了')}>...</div>');
                }
                LoadData.LOAD_END = true;
            }else{
                //给一个没有数据的提示信息
                LoadData.LOAD_END = true;
            }
        }
        LoadData.params.page ++;
        Widget.MsgBox.hide();
        LoadData.LOCK = false;
    },"json");
}

function allcate() {
    var ce = 0;
    var c = 0;
    var link = '<{link ctl="shop/index" cate_id="__cate_id" cat_id="__cat_id" }>';
    window.location.href=link.replace('__cate_id',ce).replace('__cat_id',c);
}
$(window).scroll(function () {//监听滚动条改变
if ($(window).scrollTop() == $(document).height() - $(window).height()) {//滚动条是否滚到底部
        loadPageItem();
    }
});
</script>
    </body>
</html>