<{if !empty($shoplist) }>
<{foreach from=$shoplist item=items }>
    <div class="shop_group_item">
      <a href="<{ofunc type=url link="/wxsite/shopshow/typelx/wm/id/<{$items['id']}>"}>">
        <{if $items['opentype'] == 2  }>
        <div class="shop_state shop_state_ing"></div>
        <{else}>
        <div class="shop_state shop_state_ed"></div>
        <{/if}>
        <div class="img"><img src="<{$items['shoplogo']|default:$sitelogo}>" alt="<{$items['shopname']}>"></div>
        <div class="text">
          <div class="shop_name"><{$items['shopname']}></div>
          <div class="shop_nums">销量<{$items['ordercount']}>份</div>
          <div class="shop_decs fb-clearfix">
            <div class="fb-fl"><span>起送￥<{$items['limitcost']}></span><span>配送￥<{$items['pscost']}></span></div>
            <div class="fb-fr">
                <{if !empty($items['arrivetime']) }>
                <span><{$items['arrivetime']}>分钟</span>
                <{/if}>
                <span><{$items['juli']}></span></div>
          </div>

              <{if $open_wxcx == 1}>
                  <{if !empty($items['cxlist'] ) }>
                  <div class="discount">
                      <{foreach from=$items['cxlist'] item=itv }>
                      <div class="discount_j" style="background: url(<{$itv['imgurl']}>) no-repeat center left;background-size: .32rem .32rem;"><{$itv['name']}></div>
                      <{/foreach}>
                  </div>
                  <{/if}>
              <{/if}>
            <!-- <div class="discount_j">满30减5</div>
            <div class="discount_t">【5折】香酥鸡排限时抢购</div> -->

        </div>
      </a>
    </div>
<{/foreach}>
<{/if}>
